<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-4 col-md-2">
        <h4 class="c-footer-heading"><a href="https://crate.io/community/index.html" title="Community">
          Community</a></h4>
        <ul class="list-unstyled">
          <li><a href="https://crate.io/events.html" title="Events">
            Events</a></li>
          <li><a href="https://crate.io/community/support.html" title="Support">
            Support</a></li>
          <li><a href="https://crate.io/community/contribute.html" title="Contribute">
            Contribute</a></li>
        </ul>
        <h4 class="c-footer-heading"><a href="https://crate.io/enterprise/index.html" title="Enterprise">
          Enterprise</a></h4>
      </div>
      <div class="col-sm-2 col-xs-4 col-md-2">
        <h4 class="c-footer-heading"><a href="https://crate.io/about/index.html" title="About">
            About us</a>
        </h4>
        <ul class="list-unstyled">
          <li><a href="https://crate.io/about/team.html" title="Team">
            Team</a></li>
          <li><a href="https://crate.io/jobs.html" title="Jobs">
            Jobs</a></li>
          <li><a href="https://crate.io/partners/index.html" title="Partners">
            Partners</a></li>
          <li><a href="https://crate.io/about/contact.html" title="Contact">
            Contact</a></li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-4 col-md-2 col-lg-4">
        <h4 class="c-footer-heading">
          <a href="https://crate.io/legal/index.html" title="Legal">
            Legal</a>
        </h4>
        <ul class="list-unstyled">
          <li><a href="https://crate.io/legal/trademark.html" title="Trademark Statement" class="text-muted">
            Trademark</a></li>
          <li><a href="https://crate.io/legal/privacy.html" title="Privacy Policy">
            Privacy</a></li>
          <li><a href="https://crate.io/legal/terms-of-service.html" title="Terms of Service">
            Terms of Service</a></li>
          <li><a href="https://crate.io/legal/imprint.html" title="Imprint">
            Imprint</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
        <h4 class="c-footer-heading">
          Connect</h4>
        <table style="width:100%;">
          <tr>
            <td><a rel="nofollow" href="https://github.com/crate"><i class="fa fa-github"></i>
              Github</a></td>
            <td><a rel="nofollow" href="https://fb.me/cratedata"><i class="fa fa-facebook"></i>
              Facebook</a></td>
            <td><a rel="nofollow" href="https://plus.google.com/105774977111118486356/"><i class="fa fa-google"></i>
              Google+</a></td>
          </tr>
          <tr>
            <td><a rel="nofollow" href="https://twitter.com/CrateIO"><i class="fa fa-twitter"></i>
              Twitter</a></td>
            <td><a rel="nofollow" href="https://www.linkedin.com/company/crate-technology-gmbh"><i class="fa fa-linkedin"></i>
              LinkedIn</a></td>
            <td><a rel="nofollow" href="https://www.youtube.com/user/CrateIO"><i class="fa fa-youtube"></i>
              YouTube</a></td>
            <td></td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>


<!--
<footer class="footer">
  <div class="footer-container">
    <p class="pull-right">
      <a href="#">Back to top</a>
      {% if theme_source_link_position == "footer" %}
      <br/>
      {% include "sourcelink.html" %}
      {% endif %}
    </p>
    <p>
      {%- if show_copyright %}
      {%- if hasdoc('copyright') %}
      {% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}<br/>
      {%- else %}
      {% trans copyright=copyright|e %}&copy; Copyright {{ copyright }}.{% endtrans %}<br/>
      {%- endif %}
      {%- endif %}
      {%- if last_updated %}
      {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}<br/>
      {%- endif %}
      {%- if show_sphinx %}
      {% trans sphinx_version=sphinx_version|e %}Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> {{ sphinx_version }}.{% endtrans %}<br/>
      {%- endif %}
    </p>
  </div>
</footer>
-->