{% extends "base.html" %}


  {% if project == 'SQL 99' %}
  {% set extra_script_files = [
    '_static/language_data.js',
    '_static/searchtools.js',
    ]
  %}
  {% else %}
  {% set extra_script_files = [
    '_static/language_data.js',
    ]
  %}
  {% endif %}


  {% if page_source_suffix %}
  {% set suffix = page_source_suffix %}
  {% else %}
  {% set suffix = source_suffix %}
  {% endif %}

  {%- block doctype -%}
  <!DOCTYPE html>
  {%- endblock %}

  {%- block extra_head %}
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WHMDSK');</script>
  <!-- End Google Tag Manager -->

  <noscript>
      <style>
          .cr-nojs-hide { display: none; }
      </style>
  </noscript>

  {% endblock %}

  {%- block scripts %}
    {{ super() }}
  {%- endblock %}

  {# Silence the sidebar's, relbar's #}
  {% block header %}{% endblock %}
  {% block relbar1 %}{% endblock %}
  {% block relbar2 %}{% endblock %}
  {% block sidebarsourcelink %}{% endblock %}

  {%- block content %}
  {% include "navbar.html" %}

  <div class="w-canvas">
    {% if project == 'SQL 99' %}
    <div class="container margin-bottom-32">
      <div class="section cr-sql-99-bg-color" style="margin: 0px;">
        <div class="cr-sql-99-header">
          <div class="cr-sql-99-headline">
            <p>The book <span style="font-weight: 600;">SQL-99 Complete, Really</span> is brought to you by</p>
            <a href="https://cratedb.com" title="CrateDB.com" target="_blank">
              <img class="cr-sql-99-logo" src="{{ pathto('_static', 1) }}/images/cratedb-logo-white.svg" width="150" height="25" alt="CrateDB Logo White">
            </a>
          </div>

          <div class="cr-sql-99-cta">
            <a href="https://cratedb.com/product?utm_source=sql-99-docs" class="btn cta_button hs-button cr-sql-99-link"> Learn more about CrateDB</a> 
          </div>
        </div>
      </div>
    </div>

    {% endif %}

    <div class="container" >
      <div class="row" id="main-content">
        <div class="col-md-4 col-lg-3" id="sidebar">
          <div class="sidebar-head">
            <div class="w-hidden-main">
              <div class="section" style="margin: 0px">
                <a href="#" id="mobile-menu-toggler" class="w-button">Toggle Doc Menu</a>
              </div>
            </div>
            {%- if pagename != "search" %}
            {%- if project != "SQL 99" %}
            <div class="search-link">
              <div id="docsearch"></div>
            </div>
            {%- endif %}
            {%- endif %}
         </div>
          <aside class="wrapper-navleft  sidebar__inner" >
            {%- block sidebar1 %}
            {%- for sidebartemplate in sidebars %}
            {%- include sidebartemplate %}
            {%- endfor %}
            {% endblock %}
          </aside>
        </div>
        <div class="col-md-8 col-lg-9" role="main">
          <div class="wrapper-content-right">

            <div class="page-tools dropdown-group">
            {% if display_github %}
            {% include "github_feedback_compact.html" %}
            {%- endif %}

            {%- if versions %}
            {% include "version_chooser.html" %}
            {%- endif %}
            </div>

            {% block body %}{% endblock %}
          </div>

        </div>
      </div>
    </div>
  </div>
  {% if project == 'SQL 99' %}
  {%- include "footer_sql99.html" %}
  {% else %}
  {%- include "footer.html" %}
  {% endif %}

  {%- endblock %}

  {%- block custom_footer %}

  {% if display_github %}
  <script>
  {%- include "github_keynav.js" %}
  </script>
  {% endif %}

  <script>
    var sidebar = new StickySidebar('#sidebar', {
        containerSelector: '#main-content',
        innerWrapperSelector: '.sidebar__inner',
        topSpacing: 20,
        bottomSpacing: 20,
        minWidth: 992
    });

    // Desktop only
    if( !$('#mobile-menu-toggler').is(':visible') ) {

    } else {

      $('#mobile-menu-toggler').click(function() {
        $('#mobile-menu-toggler').toggleClass('w-active');
        $('.wrapper-navleft').toggleClass('shownav');
      });

    }
  </script>

  {% if theme_tracking_hubspot_id %}
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/{{ theme_tracking_hubspot_id }}.js"></script>
  <!-- End of HubSpot Embed Code -->
  {% endif %}

{%- endblock %}
