{% extends "base.html" %}


  {% if project == 'SQL 99' %}
  {% set extra_script_files = [
    '_static/language_data.js',
    '_static/searchtools.js',
    ]
  %}
  {% else %}
  {% set extra_script_files = [
    '_static/language_data.js',
    ]
  %}
  {% endif %}


  {% if page_source_suffix %}
  {% set suffix = page_source_suffix %}
  {% else %}
  {% set suffix = source_suffix %}
  {% endif %}

  {%- block doctype -%}
  <!DOCTYPE html>
  {%- endblock %}

  {%- block extra_head %}
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta name="apple-mobile-web-app-capable" content="yes">

  <noscript>
      <style>
          .cr-nojs-hide { display: none; }
      </style>
  </noscript>

  {% endblock %}

  {# Silence the sidebar's, relbar's #}
  {% block header %}{% endblock %}
  {% block relbar1 %}{% endblock %}
  {% block relbar2 %}{% endblock %}
  {% block sidebarsourcelink %}{% endblock %}

  {%- block content %}
  {% include "navbar.html" %}

  <div class="w-canvas">
    {% if project == 'SQL 99' %}
    <div class="container margin-bottom-32">
      <div class="section cr-sql-99-bg-color" style="margin: 0px;">
        <div class="cr-sql-99-header">
          <div class="cr-sql-99-headline">
            <p>The book <span style="font-weight: 600;">SQL-99 Complete, Really</span> is brought to you by</p>
            <a href="/" title="Crate.io">
              <img class="cr-sql-99-logo" src="{{ pathto('_static', 1) }}/images/cratedb-logo-white.svg" width="150" height="25" alt="CrateDB Logo White">
            </a>
          </div>

          <div class="cr-sql-99-cta">
            <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-ec50412c-3f36-4d63-be45-bd906b6f07e7"><span class="hs-cta-node hs-cta-ec50412c-3f36-4d63-be45-bd906b6f07e7" id="hs-cta-ec50412c-3f36-4d63-be45-bd906b6f07e7"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/19927462/ec50412c-3f36-4d63-be45-bd906b6f07e7" target="_blank" rel="noopener"><img class="hs-cta-img" id="hs-cta-img-ec50412c-3f36-4d63-be45-bd906b6f07e7" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/19927462/ec50412c-3f36-4d63-be45-bd906b6f07e7.png"  alt="Try CrateDB Cloud for free"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(19927462, 'ec50412c-3f36-4d63-be45-bd906b6f07e7', {"useNewLoader":"true","region":"na1"}); </script></span><!-- end HubSpot Call-to-Action Code -->
            <p>
              <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-8f8bc143-e23d-4454-9a8c-f9a2d4821973"><span class="hs-cta-node hs-cta-8f8bc143-e23d-4454-9a8c-f9a2d4821973" id="hs-cta-8f8bc143-e23d-4454-9a8c-f9a2d4821973"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/19927462/8f8bc143-e23d-4454-9a8c-f9a2d4821973" target="_blank" rel="noopener"><img class="hs-cta-img" id="hs-cta-img-8f8bc143-e23d-4454-9a8c-f9a2d4821973" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/19927462/8f8bc143-e23d-4454-9a8c-f9a2d4821973.png"  alt="Learn more about CrateDB"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(19927462, '8f8bc143-e23d-4454-9a8c-f9a2d4821973', {"useNewLoader":"true","region":"na1"}); </script></span><!-- end HubSpot Call-to-Action Code -->
            </p>
          </div>
        </div>
      </div>
    </div>

    {% endif %}

    <div class="w-container w-hidden-main margin-bottom-32">
      <div class="section" style="margin: 0px">
        <a href="#" id="mobile-menu-toggler" class="w-button">Toggle Doc Menu</a>
      </div>
    </div>
    <div class="container" >
      <div class="row" id="main-content">
        <div class="col-md-4 col-lg-3" id="sidebar">
          <aside class="wrapper-navleft  sidebar__inner" >
            {%- block sidebar1 %}
            {%- for sidebartemplate in sidebars %}
            {%- include sidebartemplate %}
            {%- endfor %}
            {% endblock %}
          </aside>
        </div>
        <div class="col-md-8 col-lg-9" role="main">
          <div class="wrapper-content-right">

            <div class="page-tools">
            {% if display_github %}
            {% include "github_feedback_compact.html" %}
            {%- endif %}

            {%- if display_version %}
            {% include "version_chooser.html" %}
            {%- endif %}
            </div>

            {% block body %}{% endblock %}
          </div>

        </div>
      </div>
    </div>
  </div>
  {%- include "footer.html" %}

  {%- endblock %}

  {%- block custom_footer %}

  {% if display_github %}
  <script>
  {%- include "github_keynav.js" %}
  </script>
  {% endif %}

  <script>
    var sidebar = new StickySidebar('#sidebar', {
        containerSelector: '#main-content',
        innerWrapperSelector: '.sidebar__inner',
        topSpacing: 20,
        bottomSpacing: 20,
        minWidth: 992
    });

    // Desktop only
    if( !$('#mobile-menu-toggler').is(':visible') ) {

    } else {

      $('#mobile-menu-toggler').click(function() {
        $('#mobile-menu-toggler').toggleClass('w-active');
        $('.wrapper-navleft').toggleClass('shownav');
      });

    }
  </script>

  {% if theme_tracking_segment_id %}
  <!-- Segment -->
  <script>
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","setAnonymousId"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
      analytics.load("{{ theme_tracking_segment_id }}");
      analytics.setAnonymousId(Cookies.get('uid'));
      analytics.page('{{ title|striptags }} - {{ docstitle|striptags }}', {
        project: '{{ theme_tracking_project }}',
        version: '{{ current_version }}'
      });
    }}();
  </script>
  {% endif %}

  {% if theme_tracking_hubspot_id %}
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/{{ theme_tracking_hubspot_id }}.js"></script>
  <!-- End of HubSpot Embed Code -->
  {% endif %}

  {% if pagename == "search" %}
  {% if theme_google_search_api_key %}
  <script type="text/javascript" src="{{ pathto('_static/js/search.js', 1) }}?ver={{ theme_ver }}"></script>
  {% endif %}
  {% endif %} 
  
{%- endblock %}
