ul.localtoc {
    margin: 0px;
    padding: 0px;
}

ul.bs-sidenav {
    margin-top: 10px;
    border-radius: 0px;
    li > a {
        color: #47494c;
        text-decoration: none;
        text-shadow: none;
        padding: 0 0 0 10px;
    }
}

.bs-sidenav li > a:hover {
    background-color: #fff;
}

.bs-sidenav .nav > li.active > a,
.bs-sidenav .nav > li.active:hover > a,
.bs-sidenav .nav > li.active:focus > a {
  font-weight: bold;
  color: #47494c;
}

.bs-sidenav .nav .nav > li > a {
    padding-left: 35px !important;
}

.bs-sidenav .nav .nav .nav > li > a {
    padding-left: 50px !important;
}

.bs-sidenav .nav .nav .nav .nav > li > a {
    padding-left: 65px !important;
}

.bs-sidenav .nav .nav .nav .nav .nav > li > a {
    padding-left: 80px !important;
}

#sidebar-column .dropdown-menu {
    border: 0px none;
}

#sidebar-column .dropdown-menu li a {
    padding: 5px 20px;
}

#sidebar-column ul li {
    font-size: 17px;
}

#sidebar-column ul li a {
    text-decoration: none;
    color: #000;
    border-right: 3px solid transparent;
    font-size: 100% !important;
    padding-top: 4px;
    padding-bottom: 4px;
}

#sidebar-column .localtoc ul ul ul {
    display: none;
}

#sidebar-column .localtoc UL UL LI.active UL {
    display: block;
}

#sidebar-column .localtoc UL UL UL UL {
    display: none !important;
}

#sidebar-column .localtoc UL UL UL LI.active UL {
    display: block !important;
}


#sidebar-column LI.active > A {
    border-right: 3px solid #000;
}

#sidebar-column .prev {
    margin-top: 15px;
}

#sidebar-column .next {
    margin-bottom: 10px;
}

#sidebar-column #form-search {
    margin-bottom: 0;
}

#sidebar-column #form-search .form-control {
    padding-top: 8px;
    padding-bottom: 10px;
    max-height: 40px;
}
