@font-face {
  font-family: BlenderPro;
  src: url('../fonts/BlenderPro/BlenderPro-ThinWeb.eot');
  src: url('../fonts/BlenderPro/BlenderPro-ThinWeb.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro/BlenderPro-ThinWeb.woff') format('woff'), url('../fonts/BlenderPro/BlenderPro-Thin.ttf') format('truetype');
}

@font-face {
  font-family: BlenderPro;
  font-weight: bold;
  src: url('../fonts/BlenderPro/BlenderPro-BoldWeb.eot');
  src: url('../fonts/BlenderPro/BlenderPro-BoldWeb.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro/BlenderPro-BoldWeb.woff') format('woff'), url('../fonts/BlenderPro/BlenderPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: SourceCodePro;
  src: url('../fonts/SourceCodePro/SourceCodePro-Light.eot');
  src: url('../fonts/SourceCodePro/SourceCodePro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro/SourceCodePro-Light.otf.woff') format('woff');
}

@font-face {
  font-family: SourceCodePro;
  font-weight: bold;
  src: url('../fonts/SourceCodePro/SourceCodePro-Regular.eot');
  src: url('../fonts/SourceCodePro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro/SourceCodePro-Regular.otf.woff') format('woff');
}

body {
  padding-top: 50px;
  font-family: BlenderPro, Helvetica Neue Light, Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 135%;
  color: #7a7a7a;
  background-color: #FFFFFF;
}

.container {
  margin-left: 0;
}

#page-wrap {
  min-height: 100%;
}

#content-wrap {
  padding-top: 1px;
  background-color: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #333333;
}

h1,
.h1 {
  font-size: 46px;
  font-weight: normal;
}

a,
a:visited {
  color: #333333;
}

a:hover,
a:active {
  color: #7a7a7a;
}

a.headerlink {
  font-weight: normal;
  color: #e8e8e8;
}

a.headerlink:hover {
  color: #333333;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background: #6d6d6d;
  border-color: #6d6d6d;
}

code,
kbd,
pre,
samp,
.pre {
  font-family: SourceCodePro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
  display: block;
  color: inherit;
  background: transparent none;
  border: 0 none;
  border-radius: 0;
}

.pre {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  white-space: nowrap;
  background-color: #fff;
}

footer {
  position: relative;
  bottom: 0;
  padding: 20px 20px 10px;
  margin: 40px -15px 0;
  font-size: 16px;
  line-height: 100%;
  color: #333333;
  background-color: #fff;
  border-top: 2px solid #ffcf3e;
}

a#crate-logo {
  display: inline-block;
  width: 101px;
  height: 30px;
  margin: 11px 0 0;
  background: url("../img/logo-101x30.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

a#crate-logo span {
  display: none;
}

a#crate-logo:hover {
  background: url("../img/logo-101x30.png") no-repeat scroll 0 -30px rgba(0, 0, 0, 0);
}

#sidebar-column {
  top: 0;
  left: 0;
  height: 100%;
  padding: 51px 0 0 0;
  background-color: #e8e8e8;
  transition: width 0.5s;
}

#sidebar-column li > a {
  font-size: 100% !important;
  color: #000;
  text-decoration: none;
  border-right: 3px solid transparent;
  border-left: none;
}

#sidebar-column li.active > a {
  border-right: 3px solid #000;
  border-left: none;
}

#sidebar-column .h4 {
  padding: 5px 10px;
  font-size: 19px;
  font-weight: bold;
  color: #7a7a7a;
}

#content-column {
  transition: width 0.5s;
}

#content-column .section {
  margin: 20px 0 40px;
}

.container {
  transition: width 0.5s;
}

.note,
.warning {
  margin: 0 0 20px;
}

.note p,
.warning p {
  padding: 10px 20px;
  margin: 0;
}

.note .admonition-title,
.warning .admonition-title {
  padding: 5px 20px;
  font-size: 18px;
  font-weight: bold;
}

.note {
  background-color: #ffefbe;
}

.note .admonition-title {
  color: #333333;
  background-color: #ffcf3e;
}

.warning {
  background-color: #ffd1d1;
}

.warning .admonition-title {
  color: #333333;
  background-color: #ff5151;
}

.table {
  background-color: #fff;
  border: 0 none;
  border-collapse: collapse !important;
}

/* Search highlight */

ul.search {
  padding: 0;
  list-style-type: none;
}

ul.search li {
  margin: 20px 0;
}

ul.search li a {
  font-size: 22px;
  font-weight: bold;
}

span.highlighted {
  padding: 0 2px;
  color: #000;
  background-color: #ffcf3e;
}

/* Top Navigation */

.navbar-inverse .navbar-nav li > a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav li > a:hover {
  color: #e8e8e8;
}

dl.docutils {
  padding: 0 20px;
}

dl.docutils dt {
  font-size: 17px;
}

dl.docutils dd {
  padding: 0 0 0 10px;
}

blockquote {
  border: 0 none;
}

#navbar-search-input {
  width: 158px;
  margin-right: -4px;
  border-right: 0 none;
  border-radius: 4px 0 0 4px;
  transition: width 0.5s;
}

#navbar-search-input:focus {
  width: 300px;
}

#navbar-search-submit {
  border-left: 0 none;
  border-radius: 0 4px 4px 0;
}

#sidebar-column #theme-options {
  background: #ffcf3e;
  transition: width 0.5s;
}

#sidebar-column #theme-options ul li a {
  padding: 5px 15px;
}

/* Responsive Elements */

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #sidebar-column {
    position: fixed;
    top: 0;
    width: 258px;
    overflow-y: auto;
  }
  #theme-options {
    position: fixed;
    bottom: 0;
    width: 258px;
  }
  #sidebar-column > .bs-docs-sidebar {
    padding-bottom: 100px;
  }
  #content-column {
    width: 712px;
    margin-left: 258px;
  }
}

@media (min-width: 1200px) {
  #sidebar-column {
    width: 308px;
  }
  #theme-options {
    width: 308px;
  }
  #content-column {
    width: 862px;
    margin-left: 308px;
  }
}

@media (min-width: 1400px) {
  .navbar .container {
    width: 1380px;
  }
}

ul.localtoc {
  padding: 0;
  margin: 0;
}

ul.bs-sidenav {
  margin-top: 10px;
  border-radius: 0;
}

ul.bs-sidenav li > a {
  padding: 0 0 0 10px;
  color: #47494c;
  text-decoration: none;
  text-shadow: none;
}

.bs-sidenav li > a:hover {
  background-color: #fff;
}

.bs-sidenav .nav > li.active > a,
.bs-sidenav .nav > li.active:hover > a,
.bs-sidenav .nav > li.active:focus > a {
  font-weight: bold;
  color: #47494c;
}

.bs-sidenav .nav .nav > li > a {
  padding-left: 35px !important;
}

.bs-sidenav .nav .nav .nav > li > a {
  padding-left: 50px !important;
}

.bs-sidenav .nav .nav .nav .nav > li > a {
  padding-left: 65px !important;
}

.bs-sidenav .nav .nav .nav .nav .nav > li > a {
  padding-left: 80px !important;
}

#sidebar-column .dropdown-menu {
  border: 0 none;
}

#sidebar-column .dropdown-menu li a {
  padding: 5px 20px;
}

#sidebar-column ul li {
  font-size: 17px;
}

#sidebar-column ul li a {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 100% !important;
  color: #000;
  text-decoration: none;
  border-right: 3px solid transparent;
}

#sidebar-column .localtoc ul ul ul {
  display: none;
}

#sidebar-column .localtoc UL UL LI.active UL {
  display: block;
}

#sidebar-column .localtoc UL UL UL UL {
  display: none !important;
}

#sidebar-column .localtoc UL UL UL LI.active UL {
  display: block !important;
}

#sidebar-column LI.active > A {
  border-right: 3px solid #000;
}

#sidebar-column .prev {
  margin-top: 15px;
}

#sidebar-column .next {
  margin-bottom: 10px;
}

#sidebar-column #form-search {
  margin-bottom: 0;
}

#sidebar-column #form-search .form-control {
  max-height: 40px;
  padding-top: 8px;
  padding-bottom: 10px;
}