/* Locate feedback and version chooser components on the top right of the page */
.page-tools {
  float: right;
  display: flex;
  gap: 0.3em;
}

/* Version chooser component */

.version-chooser-content {
  position: absolute;
}
.version-chooser-content div.sd-summary-content {
  position: fixed;
  z-index: 150;
  background: #fff;
  border: 1px solid #ccc;
}

.version-chooser-container {
}
.version-chooser-content {
  position: absolute;
}
.version-chooser-title {
  font-weight: unset !important;
}
.version-chooser-link {
  color: #222222;
}

/* GitHub feedback component */
.feedback-compact-container {
}
.feedback-compact-content {
  position: absolute;
}
.feedback-compact-content div.sd-summary-content {
  position: fixed;
  z-index: 150;
  background: #fff;
  border: 1px solid #ccc;
}

.feedback-compact-title {
}
details.feedback-compact-content:not([open]) .feedback-compact-title {
    display: none;
}
.feedback-compact-link {
  color: #222222;
}
