.navlink a {
    font-size: 16px;
    color: #222;
    }

.navlink a:hover {
    color: #111;
    }

.sub-menu {
    list-style-type: none;
    padding-left: 0;
    top: 50px;
    background-color: #fff;
    position: absolute;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

.sub-menu li a {
    display:block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    }

.sub-menu li a:hover {
    background-color: #f1f1f1;
    }
.menu-item-has-children .sub-menu {
    display: none;
    }

.menu-item-has-children:hover .sub-menu{
    display: block;

    }

body {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: Arial, 'Blender Pro', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 0px;
}

h3 {
  margin-top: 36px;
  margin-bottom: 12px;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 0px;
}

h4 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #b8b8b8;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

h5 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0px;
}

p {
  margin-bottom: 16px;
  line-height: 1.5em;
}

a {
  color: #009DC7;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  color: #009DC7;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 1em;
}

blockquote {
  margin-bottom: 16px;
  padding: 10px 20px;
  border-left-color: #000;
  font-size: 24px;
  line-height: 1.5em;
}

#sidebarMenu, #menu-solution-child-menu {
    list-style-type: none;
    padding-left: 0;
    }
#sidebarMenu li, #menu-solution-child-menu li {
    padding-top: 1px;
    padding-bottom: 1px;
    }

#menu-overview-child-page-menu {
    list-style-type: none;
    padding-left: 0;
    }

#menu-overview-child-page-menu li {
    padding-top: 1px;
    padding-bottom: 1px;
    }

.navbar {
  background-color: transparent;
}

.wrapper-search {
  display: inline-block;
  margin-top: 11px;
  margin-bottom: 0px;
  margin-left: 16px;
  float: none;
}

.textfield-search {
  display: none;
  width: 120px;
  margin-bottom: 0px;
  font-size: 16px;
  letter-spacing: 0.3px;
}

.textfield-search:focus {
  box-shadow: 0 0 18px -4px #000;
}

.navlink {
  padding-right: 12px;
  padding-left: 12px;
}

.navlink:hover {
  color: #111;
}

.navlink.w--current {
  color: #000;
  font-weight: 700;
}

.navlink.search {
  height: 65px;
}

.margin-bottom-16.w-col.w-col-2.w-dyn-item {
    height: 200px;
    }

.footer {
  padding-top: 40px;
  padding-bottom: 24px;
  border-top: 1px solid #e7e7e7;
}

.footer-link  {
  display: inline-block;
  padding: 12px 8px 8px;
  color: #000;
  text-decoration: none;
}

ul.footer-list.w-list-unstyled.footerPadding li a {
    padding: 12px 8px 8px;
    }

.footer-listitem a {
	color: #000;
}

.footer-listitem {
  display: inline-block;
}

.footer-list {
  margin-top: 10px;
  margin-left: 15px;
  float: right;
}


.footer-link-connect {
  padding: 0px 4px 8px 4px;
  background-color: transparent;
  opacity: 0.2;
}

header .brand {
	padding-top: 14px;
}
.brand {
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 14px;
  float: left;
}

.section.t-plain {
  padding: 64px 160px;
}

.section.border-bottom {
  margin-top: 64px;
  margin-bottom: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.section.border-bottom.padding-bottom-0 {
  padding-bottom: 0px;
}

.section.bg-blue {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #009DC7;
}

.section.bg-grey {
  background-color: #e7e7e7;
}

.section.border-top {
  margin-top: 0px;
  padding-top: 64px;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.section.border-top.logo-eu {
  margin-bottom: 32px;
  padding-top: 32px;
}

.section.bar {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.section.bar.bg-blue {
  background-color: #009DC7;
}

.section.narrow {
  margin-top: 24px;
  margin-bottom: 24px;
}

.row-col {
  display: block;
}

.row-col.padding-right {
  padding-right: 40px;
}

.button {
  position: static;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px 16px;
  clear: right;
  border: 2px solid transparent;
  background-color: #009DC7;
  color: #fff;
  text-align: center;
}

.button:hover {
  border-style: solid;
  border-color: #009DC7;
  background-color: #fff;
  opacity: 1;
  color: #009DC7;
}

.button.bordered-blue {
  margin-top: 8px;
  border: 2px solid #009DC7;
  background-color: #fff;
  color: #009DC7;
}

.button.bordered-blue:hover {
  background-color: #009DC7;
  opacity: 1;
  color: #fff;
}

.button.black {
  background-color: #000;
}

.button.black:hover {
  background-color: #fff;
}

.button.black.pull-top {
  margin-top: 0px;
}

.button.black.margin-top-0 {
  margin-top: 0px;
}

.button.black.float-left {
  padding-right: 16px;
  text-align: center;
}

.button.small-bold-upper {
  background-color: #009DC7;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.button.small-bold-upper:hover {
  background-color: #009DC7;
}

.button.big-button {
  padding-right: 108px;
  padding-left: 108px;
}

.button.button-deep {
  width: 100%;
  margin-top: 0px;
  border-color: #009DC7 #fff #009DC7 #009DC7;
  background-color: #fff;
  color: #009DC7;
}

.button.button-deep:hover {
  border-color: #fff;
  background-color: #009DC7;
  color: #fff;
}

.text-white {
  color: #fff;
  font-size: 16px;
}

.align-center {
  text-align: center;
}

.row-list-item {
    list-style-type: none;
    }
.hr {
  display: inline-block;
  width: 40px;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #000;
}

.text-link {
  display: block;
  margin-top: 16px;
  color: #009DC7;
}

.teaser-img {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
}

.textfield {
  max-width: 300px;
  margin-right: 16px;
  float: left;
  color: #000;
  font-size: 16px;
}

.textfield:focus {
  box-shadow: 0 0 18px -4px #000;
}

.wrapper-form {
  margin-top: 10px;
}

.lead {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 1.4em;
}

.lead.text-black {
  color: #000;
}

.lead.bg-white-60 {
  background-color: hsla(0, 0%, 100%, .6);
}

.lead.bg-white-80 {
  padding-right: 5px;
  padding-left: 5px;
  background-color: hsla(0, 0%, 100%, .8);
  color: #000;
}

.wrapper-2col {
  padding-right: 24px;
  padding-left: 24px;
  float: left;
}

.wrapper-navleft {
  width: 240px;
  margin-right: 32px;
  margin-bottom: 32px;
  padding: 8px 16px;
  float: left;
  border: 1px solid #e7e7e7;
  line-height: 20px;
}

.navleft-item {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 18px;
}

.navleft-list-level {
  margin-bottom: 0px;
  padding-left: 16px;
}

.link-active {
  font-weight: 700;
}

.wrapper-content-right {
  width: 70%;
  float: left;
  font-size: 16px;
  line-height: 1.5em;
}

.link-inline {
  color: #009DC7;
}

code {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .2);
  border-radius: 2px;
  background-color: #e7e7e7;
}

pre code {
  display: block;
  width: 700px;
  overflow: scroll;
  padding: 8px 12px;
  float: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .2);
  border-radius: 2px;
  background-color: #e7e7e7;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

 .code {
  display: block;
  width: 590px;
  padding: 8px 12px;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .2);
  border-radius: 2px;
  background-color: #e7e7e7;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

.codehilite pre {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background: #f0f0f0 none repeat scroll 0 0;
	font-size: 14px !important;
}


.note {
  margin-bottom: 16px;
  padding: 16px;
  border-left: 4px solid #009DC7;
  background-color: #e9fbff;
}

.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right !important;
}

.link-blue {
  color: #30a6c5;
}

.link-blue:hover {
  opacity: 0.7;
}

.max-120 {
  max-height: 120px;
  max-width: 120px;
}

.font-blender {
  font-family: Arial, 'Blender Pro', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}

.in-row {
  margin-right: -10px;
  margin-left: -10px;
}

.small-grey {
  color: #b8b8b8;
  font-size: 12px;
  line-height: 16px;
}

.small-blue {
  color: #009DC7;
  font-size: 12px;
  line-height: 16px;
}

.width-40 {
  width: 40px;
}

.fa.fa-user.fontsize-48 {
  font-size: 48px;
  line-height: 60px;
}

.fa.fa-building-o.fontsize-48 {
  font-size: 48px;
  line-height: 60px;
}

.fa.fa-briefcase.fontsize-48 {
  font-size: 48px;
  line-height: 60px;
}

.license {
  padding: 16px;
  background-color: #b8b8b8;
  font-size: 12px;
  line-height: 14px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.text-small {
  font-size: 12px;
  line-height: 1.2em;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-32 {
  margin-bottom: 32px;
}

.margin-bottom-64 {
  margin-bottom: 64px;
}

.empty-state {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  background-color: transparent;
}

.list-item-border {
  margin-top: -1px;
  padding: 12px 0px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.font-bold {
  font-weight: 600;
  letter-spacing: 0px;
}

.slide-33 {
  width: 33.333%;
  padding: 16px 8px;
}

.link.text-black {
  color: #000;
}

.opensourcetext {
  margin-bottom: 16px;
}

.wrapper-teaser-img {
  position: relative;
  height: 130px;
  margin-top: 0px;
  padding-top: 10px;
}

a.learn-more-link, .wrapper-teaser-img p {
    color: #000 !important;
    }



.awards-logo-bw {
  display: block;
}

.awards-logo {
  display: none;
}

.awards-link {
  display: block;
  min-height: 48px;
}

.awards-link:hover {
  opacity: 1;
}

.text-blue {
  color: #009DC7;
}

.image.search {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: -18px;
}

.image.float-left {
  padding-right: 40px;
}

.image.float-left.margin-bottom-16 {
  max-width: 350px;
}

.image.float-right {
  padding-left: 40px;
}

.trusted-text {
  display: inline-block;
  width: 100%;
  float: none;
  color: #b8b8b8;
  font-size: 14px;
  text-align: center;
}

.home-platform-img {
  max-height: 80px;
  padding: 8px 12px;
}

.home-platform-subtext {
  margin-top: 8px;
  border-bottom: 0px none #e7e7e7;
  color: #868686;
  font-size: 12px;
  text-align: center;
}

.home-platform-imgs {
  padding: 16px;
  text-align: center;
}

.home-platform-imgs.docs-platform-imgs {
  background-color: rgba(0, 0, 0, .74);
}

.home-platform-text {
  margin-bottom: 24px;
  text-align: center;
}

.home-platform-text.home-platform-heading {
  font-size: 22px;
  text-align: left;
}

.home-crash-img {
  max-width: 100%;
  text-align: center;
}

.home-crash-div {
  margin-bottom: 32px;
  text-align: center;
}

.docs-heading {
  color: #fff;
}

.container-narrow {
  display: block;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.bg-blue {
  background-color: #009DC7;
}

.cta {
  display: block;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 32px 16px 16px;
  text-align: center;
}

.cta.border-blue {
  border: 2px solid #009DC7;
}

.bg-white {
  background-color: #fff;
}

.float-left {
  padding-right: 6px;
  float: left;
}

.text-grey {
  color: #999;
}

.blog-thumb {
  max-height: 160px;
  padding-right: 16px;
}

.blog-thumb.feature {
  max-height: 300px;
}

.wrapper-2col-wide {
  padding-right: 24px;
  border-right: 1px solid #e7e7e7;
}

.wrapper-2col-narrow {
  padding-left: 24px;
  border-left-color: #e7e7e7;
}

.list-item-horizontal {
  display: inline-block;
  padding-right: 8px;
}

.no-spacing {
  margin: 0px;
}

.admonition {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  padding: 7px;
}

.admonition p {
  margin-bottom: 0px;
  padding: 10px 20px;
}

.admonition-title {
  display: block;
  margin: 0px;
  padding: 10px 20px;
}

.version-select-container {
  float: right;
  text-align: right;
}
.view-on-github{

}
.view-on-github .fa-github:before{
  font-size: 18px;
}

.edit-on-github-link{
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

.toggle {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #e7e7e7;
}

.toggle-icon {
  margin-top: 13px;
}

.dropdown-list {
  background-color: #fff;
}

.dropdown-list.w--open {
  border-style: none solid solid;
  border-width: 1px;
  border-color: #e7e7e7;
}

.divider {
  width: 30px;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #000;
}

.divider.divider-100 {
  width: 100px;
}

.divider.divider-center {
  display: block;
  margin: 32px auto;
  clear: both;
}

.link-black {
  color: #000;
}

.link-black:hover {
  color: rgba(0, 0, 0, .86);
}

.margin-top-64 {
  margin-top: 64px;
}

.margin-top-32 {
  margin-top: 32px;
}

.text-copy-big {
  font-size: 24px;
  line-height: 1.5em;
}

.wrapper-tab {
  padding-top: 24px;
}

.link-navleft {
  color: #000;
}

.link-navleft:hover {
  color: #000;
}

.box-deep-insight {
  display: inline-block;
  width: 50%;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  padding: 16px;
  float: right;
  background-color: #009DC7;
  font-size: 14px;
}

.link-white {
  color: #fff;
}

.link-white:hover {
  color: #fff;
}

.float-right {
  max-width: 350px;
  margin-left: 25px;
  float: right;
}

.float-right.image.margin-bottom-16 {
  max-width: 400px;
}

.font-16 {
  font-size: 16px;
}

.font-12 {
  font-size: 12px;
}

.tabs-menu {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
}

.tab-33 {
  width: 32.33%;
  padding-top: 20px;
  padding-bottom: 16px;
  background-color: transparent;
  text-align: center;
}

.tab-33.w--current {
  width: 32.33%;
  border-bottom: 3px solid #000;
  background-color: #fff;
  text-align: center;
}

.tab-33.align-center {
  text-align: center;
}

.tab-33.align-center.w--current {
  width: 32.33%;
  text-align: center;
}

.icon-link {
  margin-top: 4px;
  margin-right: 4px;
  float: left;
}

.tab-label {
  display: inline-block;
  padding-left: 16px;
  font-size: 18px;
}

.image-caption {
  margin-top: 6px;
  color: #b8b8b8;
  font-size: 14px;
  line-height: 18px;
}

.blockquote {
  padding-left: 16px;
  border-left: 4px solid #000;
  font-size: 21px;
}

.h2-home {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #000;
  font-size: 40px;
  line-height: 40px;
}

.indicator-tab {
    position: relative;
    left: 29%;
    width:50px;

    }
.bg-lightblue {
  background-color: #e6f9fe;
}


.section.bar.bg-grey {
    background-color: #f9f9f9;
    }

.fullwidth {
  width: 100%;
}

.cta-box {
  min-height: 300px;
  padding: 24px;
}

.cta-link {
  position: absolute;
  bottom: 24px;
  width: 80%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.cta-link:hover {
  opacity: 0.7;
  color: #fff;
}

.bg-black {
  background-color: #000;
}

.cta-link-icon {
  margin-right: 8px;
  float: left;
}

.quote-image {
  margin-bottom: 16px;
}

.h3-home {
  font-size: 20px;
  line-height: 1.3em;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.home-values-text-wrapper {
  padding-top: 12px;
  font-size: 20px;
}

.home-values-text-wrapper a {
    font-size: 16px;
    }

.home-values-text-wrapper .icon-link {
    margin-top: 9px;
    }

.home-values-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    }

.home-values-headline {
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 26px;
}

.logo-eu {
  position: relative;
  left: 0px;
  top: 10px;
  right: 0px;
  display: block;
  width: 100px;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
}

.footer-link-eu {
  position: relative;
}

html.w-mod-js *[data-ix="hide-color-logo"] {
  display: none;
}

  .pricing-table {
   width: 100%;
   margin-top: 35px;
}
  .pricing-table td {
  width: 19%;
 text-align: center;
 padding-left: .5%;
 padding-right: .5%;
 padding-top: 20px;
 vertical-align: middle;


}
.header-row td { background-color: #009DC7 !important; }

.text-green {
  color: #44e3a6;
}
.text-blue {
  color: #009DC7;
}
.text-darkblue {
  color: #115097;
}
.text-teal {
  color: #00798d;
}

.option {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0px;
  border: 1px solid #e7e7e7;
}

.option:hover {
  opacity: 1;
}

.wrapper-option {
  width: 100%;
  padding: 20px;
  color: #000;
}

.wrapper-option:hover {
  color: #000;
}

.option-icon {
  width: 48px;
  height: 48px;
  margin-top: 4px;
  margin-right: 24px;
  float: left;
}

.option-description {
  margin-bottom: 0px;
}

.option-title{
  margin-top: 0px;
  margin-bottom: 8px;
}
.option-text-link {
  color: #009DC7;
}

.option-text-link.text-link-options {
  display: block;
  margin-top: 8px;
}

.option-title-link {
  display: block;
}

.option-title-link:hover {
  opacity: 1;
}

.wrapper-option-text {
  padding-left: 72px;
}

.download-half {
  padding-right: 25px;
}

.footer-listitem-new {
  display: block;
}

.footer-listitem-new a {
  color: #000;
}

.vertical-menu {
  list-style-type: none;
  padding-left: 0;
}

.menu-Label {
  font-weight: 600;
}


@media (max-width: 991px) {

  .mobileHorizontalMenu {
    margin-top: 10px;
  }

  .mobileHorizontalMenu li {
    display: inline-block !important;
  }

  .mobileAlign {
    text-align: center;
  }

  .wrapper-search {
    margin-left: 6px;
  }
  .textfield-search {
    width: 100px;
  }
  .navlink {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer-listitem.link-list {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer-list {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
  .brand.footer-brand {
    width: 100%;
    text-align: center;
    padding-top: 25px;
  }
  .section.t-plain {
    padding-right: 125px;
    padding-left: 125px;
  }
  .button.black {
    float: right;
  }
  .button.button-navleft {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    border: 2px solid #009DC7;
    background-color: #fff;
    color: #009DC7;
  }
  .button.button-navleft:hover {
    background-color: #009DC7;
    color: #fff;
  }
  .textfield {
    width: 100%;
    max-width: none;
  }
  .lead {
    font-size: 24px;
    line-height: 32px;
  }
  .wrapper-navleft {
    display: none;
    width: 100%;
    float: none;
  }
  .wrapper-content-right {
    width: 100%;
    margin-left: 0px;
  }
  .wrapper-navleft-mobile {
    display: none;
    margin-top: -16px;
    margin-bottom: 32px;
    padding: 16px;
    border: 1px solid #e7e7e7;
  }
}

@media (max-width: 767px) {
    .margin-bottom-16.w-col.w-col-2.w-dyn-item {
        width: 55%;
        margin-right: 2%;
    }
    .mobileHorizontalMenu {
        margin-top: 10px;
    }
    .mobileAlign {
        text-align: center;
    }
    .indicator-div a img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  .wrapper-search {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 20px;
    float: left;
  }
  .textfield-search {
    width: auto;
  }
  .navlink {
    padding: 10px 20px;
  }
  .navlink.search {
    width: 100%;
    height: 40px;
  }
  .footer-link-connect {
    margin-right: 8px;
    margin-left: 8px;
  }
  .brand {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
  }
  .brand.w--current {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .brand.footer-brand {
    padding-left: 0px;
  }
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section.t-plain {
    padding: 32px 20px;
  }
  .section.bg-blue {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .row-col {
    padding-right: 0px;
    padding-left: 0px;
  }
  .row-col.padding-right {
    padding-right: 0px;
  }
  .button.black {
    width: 100%;
  }
  .wrapper-teaser {
    margin-bottom: 32px;
  }
  .wrapper-form {
    margin-top: 16px;
  }
  .lead {
    font-size: 18px;
    line-height: 24px;
  }
  .wrapper-2col {
    width: 100%;
    height: auto;
    padding-right: 16px;
    padding-left: 16px;
    float: none;
  }
  .max-width-200 {
    max-width: 200px;
  }
  .image.search {
    position: relative;
    bottom: 0px;
    float: left;
  }
  .image.float-left {
    padding-right: 16px;
  }
  .image.float-left.margin-bottom-16 {
    float: none;
  }
  .image.float-right {
    padding-left: 16px;
  }
  .image.float-right.margin-bottom-16 {
    float: none;
  }
  .wrapper-2col-wide {
    border-right-style: none;
  }
  .wrapper-2col-narrow {
    margin-top: 16px;
    padding-top: 32px;
    padding-left: 0px;
    border-top: 1px solid #e7e7e7;
  }
  .row-col-marginbottom {
    margin-bottom: 32px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .h2-home {
    font-size: 32px;
    line-height: 36px;
  }
  .cta-box {
    min-height: 0px;
    margin-bottom: 16px;
  }
  .cta-link {
    position: static;
  }
  .h3-home {
    margin-bottom: 32px;
  }
  .menu-icon {
    font-size: 32px;
    line-height: 24px;
  }
}

@media (max-width: 479px) {
    .mobileHorizontalMenu {
        margin-top: 10px;
        }

    .mobileAlign {
        text-align: center;
        }

  .button.big-button {
    padding-right: 64px;
    padding-left: 64px;
  }
  .textfield {
    border: 1px solid rgba(0, 0, 0, .25);
  }
  .lead {
    text-align: center;
  }
  .wrapper-2col {
    padding-right: 0px;
    padding-left: 0px;
  }
  .image.float-left {
    padding-right: 0px;
    float: none;
  }
  .image.float-right {
    padding-left: 0px;
  }
  .box-deep-insight {
    width: 100%;
    margin-left: 0px;
    float: none;
  }
  .tabs-menu {
    border-top-style: none;
    border-bottom-style: none;
  }
  .tab-33 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .tab-33.align-center.w--current {
    border: 1px solid #e7e7e7;
  }
  .row-col-marginbottom {
    margin-bottom: 32px;
  }
  .home-values-text-wrapper {
    font-size: 16px;
    line-height: 22px;
  }
  .home-values-headline {
    font-size: 16px;
    line-height: 22px;
  }
  .margin-0 {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .option {
    display: block;
  }
  .option:active {
    background-color: #e9f9fd;
  }
  .wrapper-option {
    padding: 16px;
  }
  .option-icon {
    margin-right: 16px;
  }
  .wrapper-option-text {
    padding-left: 64px;
  }
}
@media screen and (max-width: 991px) {

  #notification {
    display: none !important;
  }
}

@font-face {
  font-family: 'Blender Pro';
  src:  url('../fonts/BlenderPro-Bold.ttf') format('truetype'),
        url('../fonts/BlenderPro-Thin.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
