.toctree {
  padding-left: 0;
  list-style: none;
  padding-bottom: 0px;
}

.toctree li {
  list-style: none;
}

a.current,
a.current-active {
  font-weight: 600;
}

.highlight {
  box-shadow: 1px 3px 4px var(--color-sidebar-background-border);
}

blockquote p:last-child {
  margin-bottom: 0.5rem;
}

/** Admonitions: Regular style **/
div.admonition:not(.hero) {
  background-position: top 8px left 9px;
  background-size: 1.25em;
}

/** Admonitions: Hero style **/
div.admonition.hero {
  padding: 15px 15px 15px 95px;
  margin: 20px 0;
  background-position: top 20px left 25px !important;
  background-size: 3em;
  border-left-width: 4px;
}
div.admonition.hero p {
  padding: 10px 0;
  margin: 0;
  background-color: transparent !important;
}

/** Admonitions: General **/
div.admonition a {
  text-decoration: underline;
}

div.admonition ul {
  margin: 0;
}
div.admonition ul.simple p {
  padding: 0;
}
div.admonition ul.open p {
  padding: 0 0 10px 0;
}

.cr-docs-sql-99 div.note {
  background: url("../images/admonition/note-sql-99.svg") no-repeat;
  background-color: #fff9e9;
  border-left: 4px solid #ed8826;
  background-size: 1.25em;
  background-position: top 1.1em left 1em;
}

div.hero.note {
  background: url(../images/admonition/icon-docs-note.svg) no-repeat;
}

.admonition.hero p.admonition-title::before {
  content: none;
}

div.hero.seealso {
  background: url(../images/admonition/icon-docs-seealso.svg) no-repeat;
}

div.hero.tip {
  background: url(../images/admonition/icon-docs-tip.svg) no-repeat;
}

div.hero.caution {
  background: url(../images/admonition/icon-docs-caution.svg) no-repeat;
}

div.hero.warning {
  background: url(../images/admonition/icon-docs-warning.svg) no-repeat;
}

div.hero.danger {
  background: url(../images/admonition/icon-docs-danger.svg) no-repeat;
}

.note .admonition-title,
.seealso .admonition-title,
.tip .admonition-title,
.caution .admonition-title,
.warning .admonition-title,
.danger .admonition-title {
  padding: 10px 0 0 0;
  font-weight: 600;
  text-transform: capitalize;
}

.bs-docs-sidenav > li {
  display: block;
}

/** MENUE **/
.bs-docs-sidenav .toctree li.border-top {
  border-top: 1px solid #e7e7e7;
  padding-top: 16px;
  margin-top: 16px;
}

.bs-docs-sidenav .toctree li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-sidebar-left-link);
  padding: 4px 0px;
  display: block;
}

@media all and (max-width: 540px) {
  .bs-docs-sidenav .toctree li a {
    line-height: 1.3;
  }
}

.bs-docs-sidenav .toctree li.current > a,
.bs-docs-sidenav .toctree li.active > a,
.bs-docs-sidenav .toctree li.current > a code,
.bs-docs-sidenav .toctree li.active > a code {
  font-weight: 600;
}

.bs-docs-sidenav .toctree ul > li.current > a {
  margin-bottom: 3px !important;
  display: block;
}

@media all and (min-width: 768px) {
  .bs-docs-sidenav ol,
  .bs-docs-sidenav ul {
    margin-top: 1px !important;
    margin-bottom: 2px;
  }
}

.bs-docs-sidenav .toctree ul ul ul {
  display: none;
}

.bs-docs-sidenav .toctree li.current > ul,
.bs-docs-sidenav .toctree ul li.active > ul {
  display: block !important;
}

/* Remove indentation for toctree-l0 wrapper - used to display TOC entries at top level */
.bs-docs-sidenav .toctree li.toctree-l0 > ul,
.bs-docs-sidenav .toctree li.toctree-l0 > ul > li {
  padding-left: 0 !important;
}

.bs-docs-sidenav {
  padding-left: 0px;
}
.bs-docs-sidebar {
  padding: 0px 20px 8px 16px;
  margin-bottom: 20px;
}

.affix {
  position: fixed !important;
  top: 20px;
}

#nav-affix {
  overflow-y: auto;
  width: 240px;
}

.wrapper-navleft {
  padding: 0px;
  border: 0px;
}
.wrapper-navleft .bs-docs-sidebar {
  border: 1px solid #e7e7e7;
}

a code {
  border: 0;
  font-weight: normal;
}

code.xref,
a code {
  font-weight: normal !important;
}

div.topic {
  border: 0;
}

/* ========================================================================== */
/* TOC Toggle Icons for Navigation                                           */
/* ========================================================================== */
/* Enable by adding class "toc-toggle-icons-enabled" to sidebar container    */
/* Configuration: Set html_theme_options['toc_toggle_icons'] = True          */
/* ========================================================================== */

/* Add expand/collapse icon to items that have children */
/* Modern browsers: Use :has() selector */
.toc-toggle-icons-enabled .bs-docs-sidenav .toctree li:has(> ul) > a::after,
/* Fallback: Use .has-children class added by JavaScript */
.toc-toggle-icons-enabled .bs-docs-sidenav .toctree li.has-children > a::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: auto;
  padding-left: 8px;
  background-color: var(--color-sidebar-left-link);
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M15.707 12l-5.647-5.646a.5.5 0 01.708-.708l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L15.707 12z"/></svg>');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transform: rotate(0deg);
  /* transition: transform 0.3s ease-in-out, opacity 0.2s ease; */
  /* Animation disabled - pages reload on navigation, causing animation to play on every page load */
  opacity: 0.6;
  flex-shrink: 0;
}

/* Rotate icon when parent is expanded (current/active or manually expanded) */
/* Modern browsers: Use :has() selector */
.toc-toggle-icons-enabled .bs-docs-sidenav .toctree li.expanded:has(> ul) > a::after,
.toc-toggle-icons-enabled .bs-docs-sidenav .toctree li.has-children.expanded > a::after {
  transform: rotate(90deg);
}

/* Hover effect on icon */
.toc-toggle-icons-enabled .bs-docs-sidenav .toctree li:has(> ul) > a:hover::after,
.toc-toggle-icons-enabled .bs-docs-sidenav .toctree li.has-children > a:hover::after {
  opacity: 1;
}

/* Make link a flex container to position icon at the right */
.toc-toggle-icons-enabled .bs-docs-sidenav .toctree li:has(> ul) > a,
.toc-toggle-icons-enabled .bs-docs-sidenav .toctree li.has-children > a {
  display: flex;
  align-items: center;
}

/* Make cursor indicate clickable area for items with children */
.toc-toggle-icons-enabled .bs-docs-sidenav .toctree li:has(> ul) > a,
.toc-toggle-icons-enabled .bs-docs-sidenav .toctree li.has-children > a {
  cursor: pointer;
}

/* JavaScript-driven expand/collapse behavior */
/* Hide all children by default when JS is enabled */
.toc-toggle-icons-enabled .bs-docs-sidenav .toctree li.has-children > ul {
  display: none !important;
}

/* Show children when parent is marked as expanded */
.toc-toggle-icons-enabled .bs-docs-sidenav .toctree li.has-children.expanded > ul {
  display: block !important;
}
