.toctree {
    padding-left: 0;
    list-style: none;
    padding-bottom: 0px;
}

.toctree li {
    list-style: none;
}

a.current, a.current-active {
    font-weight: 600;
}

.highlight {
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px silver;
}

.highlight pre {
    padding: 15px;
    margin: 1em 0px;
    background: inherit none repeat scroll 0 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}



/** Admonitions: Regular style **/
div.admonition:not(.hero) p {
    padding: 0.5em 0;
    margin: 0;
}
div.admonition:not(.hero) {
    padding-left: 3em;
    font-size: smaller;
    background-position: top 1.1em left 1em;
    background-size: 1.25em;
    border-left-width: 2px;
}


/** Admonitions: Hero style **/
div.admonition.hero {
    padding: 15px 15px 15px 95px;
    margin: 20px 0;
    background-position: top 25px left 25px;
    background-size: 3em;
    border-left-width: 4px;
}
div.admonition.hero p {
    padding: 10px 0;
    margin: 0;
}


/** Admonitions: General **/
div.admonition {
    border-left-style: solid;
}
div.admonition a {
  color: black;
  text-decoration: underline;
}

div.admonition ul {
    margin: 0;
}
div.admonition ul.simple p {
  padding: 0;
}
div.admonition ul.open p {
  padding: 0 0 10px 0;
}

div.note {
    background: url(../images/admonition/icon-docs-note.svg) no-repeat;
    background-color: #eefafe;
    border-color: var(--primary-color);
}

div.seealso {
    background: url(../images/admonition/icon-docs-seealso.svg) no-repeat;
    background-color: #f4f4f4;
    border-color: #999999;
}

div.tip {
    background: url(../images/admonition/icon-docs-tip.svg) no-repeat;
    background-color: #eefafe;
    border-color: var(--primary-color);
}

div.caution {
    background: url(../images/admonition/icon-docs-caution.svg) no-repeat;
    background-color: #fff2ed;
    border-color: #ff814d;
}

div.warning {
    background: url(../images/admonition/icon-docs-warning.svg) no-repeat;
    background-color: #fdeeee;
    border-color: #ec4d4d;
}

div.danger {
    background: url(../images/admonition/icon-docs-danger.svg) no-repeat;
    background-color: #fdeeee;
    border-color: #ec4d4d;
}

.note .admonition-title,
.seealso .admonition-title,
.tip .admonition-title,
.caution .admonition-title,
.warning .admonition-title,
.danger .admonition-title {
    padding: 10px 0 0 0;
    font-weight: 600;
    color: #000000;
    text-transform: capitalize
}

.bs-docs-sidenav > li {
    display: none;
}

/** MENUE **/

.bs-docs-sidenav .toctree li {
    padding: 3px 0px;
    line-height: 16px;
}

.bs-docs-sidenav .toctree li.border-top {
    border-top: 1px solid #e7e7e7;
    padding-top: 16px;
    margin-top: 16px;
}

.bs-docs-sidenav .toctree li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: black;
}

.bs-docs-sidenav .toctree li.current > a,
.bs-docs-sidenav .toctree li.active > a,
.bs-docs-sidenav .toctree li.current > a code,
.bs-docs-sidenav .toctree li.active > a code {
    font-weight: 600;
}

.bs-docs-sidenav ul {
    margin-bottom: 0px;
}

.bs-docs-sidenav .toctree ul ul ul {
    display: none;
}

.bs-docs-sidenav .toctree li.current > ul,
.bs-docs-sidenav .toctree ul li.active > ul {
    display: block !important;
}
.bs-docs-sidenav {
    padding-left: 0px;
}
.bs-docs-sidebar {
    padding: 8px 16px;
    margin-bottom: 20px;
}

.affix {
    position: fixed !important;
    top: 20px;
}

#nav-affix {
    overflow-y: auto;
    width: 240px;
}

.wrapper-navleft {
    padding: 0px;
    border: 0px;
}
.wrapper-navleft .bs-docs-sidebar {
    border: 1px solid #e7e7e7;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    border: 0;
}

a code {
    border: 0;
    font-weight: normal;
}

code.xref, a code {
  font-weight: normal !important;
}

div.topic {
    border: 0;
}
