.wrapper-content-right .section {
    margin-top: 32px;
}

.wrapper-content-right > .section {
    margin-top: 0px;
}

.toctree {
    padding-left: 0;
    list-style: none;
    padding-bottom: 0px;
}

.toctree li {
    list-style: none;
}

a.current, a.current-active {
    font-weight: bold;
}

.highlight {
    font-size: 14px;
}

.highlight pre {
    padding: 15px;
    margin: 1em 0px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f0f0f0 none repeat scroll 0 0;
}

blockquote {
    font-size: 20px;
    border-left: 0px;
    padding: 0px 0px;
}

/** admonitions **/

div.admonition p {
    padding: 10px 0;
    margin: 0;
}

div.admonition {
    padding: 15px 15px 15px 95px;
    margin: 20px 0;
    border-left: 0;
    background-position: top 25px left 25px !important;
}

div.admonition ul {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

div.note {
    background: url(../images/admonition/icon-docs-note.svg) no-repeat;
    background-color: #eefafe;
    border-left: 4px solid #55d4f5;
}

div.seealso {
    background: url(../images/admonition/icon-docs-seealso.svg) no-repeat;
    background-color: #f4f4f4;
    border-left: 4px solid #999999;
}

div.tip {
    background: url(../images/admonition/icon-docs-tip.svg) no-repeat;
    background-color: #eefafe;
    border-left: 4px solid #55d4f5;
}

div.caution {
    background: url(../images/admonition/icon-docs-caution.svg) no-repeat;
    background-color: #fff2ed;
    border-left: 4px solid #ff814d;
}

div.warning {
    background: url(../images/admonition/icon-docs-warning.svg) no-repeat;
    background-color: #fdeeee;
    border-left: 4px solid #ec4d4d;
}

div.danger {
    background: url(../images/admonition/icon-docs-danger.svg) no-repeat;
    background-color: #fdeeee;
    border-left: 4px solid #ec4d4d;
}

.note .admonition-title,
.seealso .admonition-title,
.tip .admonition-title,
.caution .admonition-title,
.warning .admonition-title,
.danger .admonition-title {
    padding: 10px 0 0 0;
    font-weight: bold;
    color: #000000;
    text-transform: capitalize
}

.bs-docs-sidenav > li {
    display: none;
}

/** MENUE **/

.bs-docs-sidenav .toctree li {
    padding: 3px 0px;
    line-height: 16px;
}

.bs-docs-sidenav .toctree li.border-top {
    border-top: 1px solid #e7e7e7;
    padding-top: 16px;
    margin-top: 16px;
}

.bs-docs-sidenav .toctree li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: black;
}

.bs-docs-sidenav .toctree li.current > a,
.bs-docs-sidenav .toctree li.active > a,
.bs-docs-sidenav .toctree li.current > a code,
.bs-docs-sidenav .toctree li.active > a code {
    font-weight: bold;
}

.bs-docs-sidenav ul {
    margin-bottom: 0px;
}

.bs-docs-sidenav .toctree ul ul ul {
    display: none;
}

.bs-docs-sidenav .toctree li.current > ul,
.bs-docs-sidenav .toctree ul li.active > ul {
    display: block !important;
}
.bs-docs-sidenav {
    padding-left: 0px;
}
.bs-docs-sidebar {
    padding: 8px 16px;
    margin-bottom: 20px;
}

.affix {
    position: fixed !important;
    top: 20px;
}

#nav-affix {
    overflow-y: auto;
    width: 240px;
}

.wrapper-navleft {
    padding: 0px;
    border: 0px;
}
.wrapper-navleft .bs-docs-sidebar {
    border: 1px solid #e7e7e7;
}
.wrapper-content-right li {
    font-size: 16px;
    line-height: 1.5em;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    border: 0;
}

a code {
    border: 0;
    font-weight: normal;
}

div.topic {
    border: 0;
}
