/* Locate feedback and version chooser components on the top right of the page */
.page-tools {
  float: right;
  display: flex;
  gap: 0.3em;
}

/* Version chooser component */

.version-chooser-content {
  position: absolute;
}
.version-chooser-content div.sd-summary-content {
  position: absolute;
  z-index: 150;
  background: #fff;
  border: 1px solid #ccc;
  width: max-content;
}

.version-chooser-container {
}
.version-chooser-content {
  position: absolute;
}
.version-chooser-title {
  font-weight: unset !important;
}
.version-chooser-link {
  color: #222222;
}

/* GitHub feedback component */
.feedback-compact-container {
}
.feedback-compact-content {
  position: absolute;
}
.feedback-compact-content div.sd-summary-content {
  position: absolute;
  z-index: 175;
  background: #fff;
  border: 1px solid #ccc;
  width: max-content;
}

.feedback-compact-title {
}
details.feedback-compact-content:not([open]) .feedback-compact-title {
    display: none;
}
.feedback-compact-link {
  color: #222222;
}


/* Fix text alignment with sphinx-togglebutton */
button.toggle-button {
  display: inline-flex;
  align-items: center;
}

@media all and (max-width: 980px) {
  .version-chooser-content div.sd-summary-content,
  .feedback-compact-content div.sd-summary-content {
    right: 0;
  }
}


/* Visually disable annoying "notificatio-pro" component */
.notificatio-pro {
  display: none;
}
