.toctree {
  padding-left: 0;
  list-style: none;
  padding-bottom: 0px;
}

.toctree li {
  list-style: none;
}

a.current,
a.current-active {
  font-weight: 600;
}

.highlight {
  box-shadow: 1px 3px 4px var(--color-sidebar-background-border);
}

blockquote p:last-child {
  margin-bottom: 0.5rem;
}

/** Admonitions: Regular style **/
div.admonition:not(.hero) {
  background-position: top 8px left 9px;
  background-size: 1.25em;
}

/** Admonitions: Hero style **/
div.admonition.hero {
  padding: 15px 15px 15px 95px;
  margin: 20px 0;
  background-position: top 20px left 25px !important;
  background-size: 3em;
  border-left-width: 4px;
}
div.admonition.hero p {
  padding: 10px 0;
  margin: 0;
  background-color: transparent !important;
}

/** Admonitions: General **/
div.admonition a {
  text-decoration: underline;
}

div.admonition ul {
  margin: 0;
}
div.admonition ul.simple p {
  padding: 0;
}
div.admonition ul.open p {
  padding: 0 0 10px 0;
}

.cr-docs-sql-99 div.note {
  background: url("../images/admonition/note-sql-99.svg") no-repeat;
  background-color: #fff9e9;
  border-left: 4px solid #ed8826;
  background-size: 1.25em;
  background-position: top 1.1em left 1em;
}

div.hero.note {
  background: url(../images/admonition/icon-docs-note.svg) no-repeat;
}

.admonition.hero p.admonition-title::before {
  content: none;
}

div.hero.seealso {
  background: url(../images/admonition/icon-docs-seealso.svg) no-repeat;
}

div.hero.tip {
  background: url(../images/admonition/icon-docs-tip.svg) no-repeat;
}

div.hero.caution {
  background: url(../images/admonition/icon-docs-caution.svg) no-repeat;
}

div.hero.warning {
  background: url(../images/admonition/icon-docs-warning.svg) no-repeat;
}

div.hero.danger {
  background: url(../images/admonition/icon-docs-danger.svg) no-repeat;
}

.note .admonition-title,
.seealso .admonition-title,
.tip .admonition-title,
.caution .admonition-title,
.warning .admonition-title,
.danger .admonition-title {
  padding: 10px 0 0 0;
  font-weight: 600;
  text-transform: capitalize;
}

.bs-docs-sidenav > li {
  display: none;
}

/** MENUE **/
.bs-docs-sidenav .toctree li.border-top {
  border-top: 1px solid #e7e7e7;
  padding-top: 16px;
  margin-top: 16px;
}

.bs-docs-sidenav .toctree li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-sidebar-left-link);
  padding: 4px 0px;
  display: block;
}

@media all and (max-width: 540px) {
  .bs-docs-sidenav .toctree li a {
    line-height: 1.3;
  }
}

.bs-docs-sidenav .toctree li.current > a,
.bs-docs-sidenav .toctree li.active > a,
.bs-docs-sidenav .toctree li.current > a code,
.bs-docs-sidenav .toctree li.active > a code {
  font-weight: 600;
}

.bs-docs-sidenav .toctree ul > li.current > a {
  margin-bottom: 3px !important;
  display: block;
}

@media all and (min-width: 768px) {
  .bs-docs-sidenav ol,
  .bs-docs-sidenav ul {
    margin-top: 1px !important;
    margin-bottom: 2px;
  }
}

.bs-docs-sidenav .toctree ul ul ul {
  display: none;
}

.bs-docs-sidenav .toctree li.current > ul,
.bs-docs-sidenav .toctree ul li.active > ul {
  display: block !important;
}
.bs-docs-sidenav {
  padding-left: 0px;
}
.bs-docs-sidebar {
  padding: 0px 20px 8px 16px;
  margin-bottom: 20px;
}

.affix {
  position: fixed !important;
  top: 20px;
}

#nav-affix {
  overflow-y: auto;
  width: 240px;
}

.wrapper-navleft {
  padding: 0px;
  border: 0px;
}
.wrapper-navleft .bs-docs-sidebar {
  border: 1px solid #e7e7e7;
}

a code {
  border: 0;
  font-weight: normal;
}

code.xref,
a code {
  font-weight: normal !important;
}

div.topic {
  border: 0;
}
