/**
* This CSS file is for additional new styles built over the existing theme
* ...so as to avoid breaking anything unexpectedly
*/

/**
* Bootstrap components (removed bootstrap)
*/
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #25c8f2;
  border-color: #0eb9e6;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #333333;
  text-decoration: none;
}

.btn-primary:focus, .btn-primary.focus {
  color: #ffffff;
  background-color: #25c8f2;
  border-color: #0a87a7;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 750px;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}

@media all and (min-width: 992px) {

  .container, .container-lg, .container-md, .container-sm {
    max-width: 970px;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@media all and (min-width: 1200px) {

  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

}

a:hover,
a:focus {
  text-decoration: none;
}

.cr-menu-btn,
.btn,
.btn-link a {
  border-radius: 0;
  font-weight: bold;
}

.btn-md {
  font-size: 16px;
  padding: 12px 24px;
}

.btn-lg {
  padding: 16px 28px;
}

.cr-menu-btn a,
.btn-primary,
.btn-link a {
  border: 2px solid #55D4F5;
  background-color: #55D4F5;
  color: white;
  outline: none;
  text-decoration: none;
}

.cr-menu-btn a:hover,
.btn-primary:hover,
.btn-link a:hover {
  color: #1CC8F3;
  background-color: white;
  border-color: #1CC8F3;
}

.btn-primary:active,
.btn-link a:active,
.btn-primary:focus,
.btn-link a:focus {
  background-color: #F3FdFF !important;
  color: #1CC8F3 !important;
  border-color: #1CC8F3 !important;
  outline: none !important;
}

.btn-secondary {
  border: 2px solid black;
  background-color: black;
  color: white;
  outline: none;
}

.btn-secondary:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.btn-secondary:active,
.btn-secondary:focus {
  background-color: #e7e7e7;
  color: black;
  border-color: black;
  outline: none !important;
}

header.header-nav {
  border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
}

aside .nav {
  display: block;
}

.search-link a {
  font-size: 14px;
}

/**
* Navbar, dropdown menu
*/
.navbar.w-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .navbar {
  padding: 0;
  flex-wrap: nowrap;
}

#menu-main-navigation li > ul li.w-nav-link {
  padding: 0;
  display: block;
}

.brand.w-nav-brand {
  margin-right: auto;
}

.brand.w-nav-brand img {
  height: auto;
}

.main-nav {
  position: relative;
  -webkit-perspective: 600px;
  perspective: 600px;
}

.main-nav .btn-link:hover {
  text-decoration: none;
}

.cr-menu-btn a,
.main-nav .btn-link a {
  padding: 8px 16px !important;
}

header.header-nav {
  background-color: white;
}

.main-nav ul.menu {
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navlink.search {
  margin-left: 10px;
}

.main-nav ul.menu > li.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 0 5px;
}

.menu-item-has-children {
  position: relative;
}


.main-nav ul.menu > li.menu-item > a {
  padding: 15px;
}

body .main-nav .sub-menu li a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.main-nav .sub-menu li a:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.main-nav .menu-item-has-children .sub-menu {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding: 10px;
  top: -40px;
  min-width: 200px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(89px);
  transform: translateY(89px);
  will-change: transform;
  display: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  margin-bottom: 0px;
}

.main-nav .trigger-enter.menu-item-has-children .sub-menu {
  display: block;
}

.trigger-enter-active.menu-item-has-children .sub-menu {
  opacity: 1;
  -webkit-transform: translateY(94px);
  transform: translateY(94px);
}

.dropdownBackground {
  width:100px;
  height:100px;
  position: absolute;
  -webkit-transform: translate(270px, 65px);
  transform: translate(270px, 65px);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  background: #fff;
  border: 1px solid #cfd7db;
  border-top: 2px solid #55d4f5;
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.dropdownBackground.open {
  opacity: 1;
  -webkit-transform: translateY(65px);
  transform: translateY(65px);
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background:white;
}

.arrow:after, .arrow:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.arrow:before {
  border-color: rgba(85, 212, 245, 0);
  border-bottom-color: #55d4f5;
  border-width: 13px;
  margin-left: -13px;
}

.fa.mobile-nav-button,
.fa.mobile-nav-button:focus {
  color: black;
  font-size: 24px;
}

.offcanvas-menu {
  margin-top: 46px !important;
}

body .mm-menu {
  background-color: rgba(255,255,255,1);
  border-left: 2px solid #55d4f5;
  outline: none;
}

body .mm-menu .mm-listview > li:not(.mm-divider):after {
  display: none;
}

body .mm-menu li a,
body .mm-menu li > span {
  padding: 10px;
  display: block;
  font-size: 16px;
  color: black;
}

body .mm-menu .navbar-nav {
  list-style: none;
  padding: 10px;
  margin-top: 43px;
}

#mobile-nav .sub-menu {
  position: static;
  background-color: transparent;
  box-shadow: none;
}

@media screen and (max-width: 991px) {
  .main-nav ul.menu > li.menu-item > a {
    padding: 1rem .8rem;
    font-size: 16px;
  }

  .section {
    margin-top: 30px;
  }
  .mobileAlign {
    text-align: left;
  }

  .mobileHoriztonalMenu {
    margin-top: 0;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {

  .margin-bottom-32 {
    padding-left: 15px;
  }

  .main-nav {
    display: none;
  }

  .navbar > .navlink.search {
    display: none;
  }

  .brand {
    max-width: 200px;
  }

  body .fa.mobile-nav-button {
    display: block;
  }

  body {
    padding-top: 56px;
  }

  header.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
    z-index: 990;
  }

  div.section {
    padding-left: 0;
    padding-right: 0;
  }

  body .wrapper-navleft,
  body #nav-affix {
    max-width: none;
  }

  .brand.w-nav-brand {
    padding-left: 0;
  }

  html.w-mod-touch * {
    word-break: break-word;
  }

  .wrapper-content-right {
    font-size: 14px;
  }

  code, kbd, pre, samp {
    font-size: 12px;
  }

  footer.footer .footer-menu {
    display: none;
  }

  footer.footer .footer-brand {
    display: none;
  }

  .footer-list li {
    display: inline !important;
  }

  .footer-listitem.link-list {
    display: block !important;
  }
}

/**
* General
*/
.bs-docs-sidenav .toctree li {
  margin-bottom: 3px;
}

.wrapper-navleft,
.wrapper-content-right,
#nav-affix {
  width: 100%;
  margin: 0;
}

.wrapper-navleft,
#nav-affix {
  max-width: 260px;
}

.wrapper-navleft,
.wrapper-content-right {
  margin: 0;
}

.bs-docs-sidebar .search-link .btn {
  margin: 10px 0 15px;
  max-width: 100%;
  width: 100%;
  padding: 12px;
}

.bs-docs-sidebar {
  /*overflow-y: scroll;*/
  max-height: initial !important;
}

.toc-backref {
  color: black !important;
  opacity: 1 !important;
}

.headerlink {
  margin-left: 0.3em;
}

.admonition a {
  color: black;
  text-decoration: underline;
}

table.docutils {
  margin-bottom: 16px;
}

.wrapper-content-right .section img {
  margin-bottom: 16px;
}

div.sidebar {
  border: 1px solid #e7e7e7;
  background-color: white;
}

.contents ul ul,
.contents ul ol {
  margin-bottom: 0;
}

.wrapper-content-right ul, 
.wrapper-content-right ol {
  margin-bottom: 16px;
  margin-left: 16px;
}

/**
* Mobile refinements
*/
@media screen and (max-width: 767px) {
  h1 {
    font-size: 38px;
    line-height: 1;
  }
  .section.w-section {
    padding-left: 0;
    padding-right: 0;
  }
}

/**
* Card
*/
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #cfd7db;
  border-top: 2px solid #55d4f5;
  -webkit-box-shadow: 1px 1px 5px #eeeeee;
  box-shadow: 1px 1px 5px #eeeeee;
}

.card pre,
.card code {
  padding: 0.01em 0.2em;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #f0f0f0 none repeat scroll 0 0;
}

.card-block {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 2rem;
  font-size: 14px;
  line-height: 1.4;
}

.card-title {
  margin-bottom: 1rem;
  line-height: 1.2;
  font-size: 20px;
}

.card-title a {
  display: block;
}

.container .card-image {
  height: 250px;
}

.container .card-image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.card footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card footer p {
  margin-bottom: 0;
}

.card footer .btn {
  margin-left: auto;
}

@media screen and ( max-width: 480px ) {
  .card footer {
    flex-direction: column;
    align-items: center;
  }

  .card footer .btn {
    margin: 10px auto 0;
  }
}

.card.card-small {
  font-size: 14px;
}

.card.card-small .card-title {
  font-size: 24px;
  line-height: 1;
}

/**
* Search
*/
.form-search {
  border: 2px solid #55d4f5;
  display: inline-flex;
  margin-bottom: 2rem;
}

.form-search .search-query {
  width: 300px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 1.5rem;
  border: 0;
  outline: none;
}

.form-search .btn {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

#search-results {
  margin-top: 2rem;
}

#search-results > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#search-results > ul li.card {
  margin-bottom: 20px;
  background: none;
  padding: 0;
}


/**
* MOBILE Nav
*/


.w-section {
  transition: transform .3s ease-in-out;
}

#mobile-nav-new {
  display: none;
}

/* MOBILE */
@media all and (max-width: 1023px) {
  .main-nav {
    position: fixed;
    z-index: -1;
    top: 65px;
    right: 0;
    max-width: 400px;
    width: 100%;
    display: block !important;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    border-left: 2px solid #55d4f5;
    height: calc(100vh - 65px);
  }

  .main-nav ul.menu {
    flex-direction: column;
    align-items: stretch;
  }

  .main-nav ul.menu > li.menu-item {
    display: block;
    margin: 0;
    border-top: 1px solid #e7e7e7;
  }

  .navlink.w-nav-link.menu-item.menu-item-has-children:first-child {
    border-top: none;
  }

  .main-nav ul.menu > li.menu-item > a {
    display: block;
    padding-left: 10px;
  }

  .main-nav ul.menu .btn-link a {
    color: black;
    font-weight: bold;
    border-left: 0;
    border-right: 0;
    padding-left: 10px !important;
  }

  /* checked */
  #mobile-nav-new:checked ~ .header-nav .main-nav {
    transform: translateX(0);
  }

  #mobile-nav-new:checked ~ .w-section  {
    transform: translate3d(-440px,0,0);
  }

  #mobile-nav-new:checked ~ .footer  {
    transform: translate3d(-440px,0,0);
  }


  .main-nav .menu-item-has-children .sub-menu {
    padding: 0;
    border-right: 1px solid #e7e7e7;
  }

  body .main-nav .sub-menu li a {
    padding: 1rem 1rem;
  }

  .menu-item-has-children {
    padding-right: 65px !important;
    background-color: #fff !important;
    border-right: 1px solid #dedede !important;
  }

  .menu-item-has-children > a {
    background-color: white;
    border-right: 1px solid #dedede !important;
  }

  .menu-item-has-children:after {
    content: '';
    border: 2px solid transparent;
    display: block;
    width: 8px;
    height: 8px;
    /* margin: auto; */
    position: absolute;
    top: 23px;
    bottom: 0;
    transform: rotate(-45deg);
    border-top: none;
    border-left: none;
    right: 30px;
    border-color: rgba(0,0,0,.3);
  }

  .menu-item-has-children:hover:after,
  .menu-item-has-children:active:after,
  .menu-item-has-children:focus:after {
    transform: rotate(45deg);
  }

  /* Submenu */
  .main-nav .menu-item-has-children .sub-menu {
    position: relative !important;
  }

  .main-nav .sub-menu {
    top: 0 !important;
    transform: initial !important;
    /*background-color: #F4F4F4 !important;
    margin-right: -40px;*/
}

.main-nav .menu-item {
  border-top: 1px solid #e7e7e7;
}

.dropdownBackground {
  display: none !important;
}
}

@media all and (max-width: 767px) {
  .main-nav {
    top: 60px;
    height: calc(100vh - 60px);
  }
}

/* DESKTOP */
@media all and (min-width: 1024px) {
  .fa.mobile-nav-button, .fa.mobile-nav-button {
    display: none;
  }
}






#sidebar .sidebar__inner{
  position: relative;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

#sidebar{
  will-change: min-height;
}

.is-affixed .sidebar__inner {
  left: initial !important;
}

.wrapper-navleft.shownav {
  display: block !important;
}

#mobile-menu-toggler.w-button {
  background-color: #55D4F5;
  border: 2px solid #55D4F5;
  color: #fff;
}

#mobile-menu-toggler.w-button:focus {
  color: white;
}

#mobile-menu-toggler.w-button:hover,
#mobile-menu-toggler.w-button.w-active {
  color: #55D4F5;
  opacity: 0.7;
  background-color: #fff;
  border: 2px solid #55D4F5;
}

/* fix current menu padding */
.current ul {
  padding-top: 5px;
}

/* feedback section */
.view-on-github {
  clear: both;
}

.cr-docs-feedback-container {
  font-size: 15px;
  font-family: Arial, sans-serif;
  letter-spacing: 0.1px;
  line-height: 1.5em;
  color: #000;
  margin: 0 auto 30px;
}

.cr-docs-feedback-container a {
  color: #00a6d1;
  text-decoration: none;
}

.cr-docs-feedback-title a,
.cr-docs-feedback-comments a,
.cr-docs-feedback-nav a.cr-fb-link {
  color: #000;
}

.cr-docs-feedback-title a:hover,
.cr-docs-feedback-comments a:hover,
.cr-docs-feedback-nav a.cr-fb-link:hover {
  opacity: 0.7;
  color: #000 !important;
}

.cr-docs-feedback-container a:hover {
  color: #55d4f5;
  text-decoration: none;
  cursor: pointer;
}

.cr-docs-feedback-nav .cr-fb-link {
  text-decoration: none;
  position: relative;
  color: #000;
}

.cr-docs-feedback-nav .cr-fb-active:after,
.cr-docs-feedback-nav .cr-fb-link:not(.cr-fb-active):after {
  position: absolute;
  content: '';
  height: 3px;
  bottom: -22px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 80%;
  background: #00a6d1;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.cr-docs-feedback-nav .cr-fb-link:not(.cr-fb-active):after {
  background: transparent;
  width: 50%;

}

.cr-docs-feedback-nav .cr-fb-link:hover:after,
.cr-docs-feedback-nav .cr-fb-link:not(.cr-fb-active):hover:after {
  width: 100%;
  background: #00a6d1;
}

.cr-docs-feedback-headline,
.cr-docs-feedback-header {
  margin-bottom: 10px;
}

.cr-docs-feedback-container h2 {
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0px;
  margin-bottom: 0;
}

.cr-docs-feedback-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cr-docs-feedback-meta {
  text-align: right;
}

.cr-docs-feedback-meta a {
  margin-left: 20px !important;
}

#cr-feedback-content {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#cr-feedback-content p {
  padding: 15px;
  margin: 0;
}

.cr-docs-feedback-nav ul {
  padding: 0px 15px 0px;
  border-bottom: 1px solid #ccc;
  margin: 0;
}

.cr-docs-feedback-nav ul li {
  display: inline;
  line-height: 60px;
  margin-right: 15px;
}

.cr-docs-feedback-issues {
  max-height: 500px;
  overflow-y: auto;
}

.cr-docs-feedback-issues ul {
  padding: 0;
  margin: 0;
}

.cr-docs-feedback-issues li {
  margin: 0;
  padding: 15px 15px;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}

.cr-docs-feedback-issues li:last-child {
  border-bottom: none;
}

.cr-docs-feedback-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cr-docs-feedback-comments {
  min-width: 40px;
  cursor: default;
}

.cr-docs-feedback-comments svg,
.cr-docs-feedback-pr svg {
  margin-right: 3px;
  vertical-align: middle;
}

.cr-docs-feedback-title {
  flex-grow: 1;
  margin-bottom: 4px;
}

.cr-docs-feedback-pr {
  margin: 0 5px 0 0;
}

.cr-docs-feedback-details {
  font-size: 13px;
}

/* rating form */
.cr-rating-content {
  padding: 0px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.rating label {
  margin-bottom: 0;
}

#ratingForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  min-height: 65px;
}

.rating:not(:checked) > input {
  display: none;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float: right;
  /*width: 1em;*/
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #00a6d1;
  padding: 0 3px;
}

.rating > label:before {
  content: ' ';
  display: block;
  background-size: 23px 23px;
  height: 23px;
  width: 23px;
}

.rating:not(:checked) > label:before {
  background-image: url('../images/cr-star-hollow.svg');
}

.rating > input:checked ~ label::before {
  background-image: url('../images/cr-star-full.svg');
}

.rating > input:checked ~ label {
  color: #00a6d1;
}

.rating:not(:checked) > label:hover:before,
.rating:not(:checked) > label:hover ~ label:before {
  color: #00a6d1;
  background-image: url('../images/cr-star-full.svg');
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #00a6d1;
}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}

.cr-stars-label {
  display: none;
}

.cr-ratingtext {
  margin-right: 10px;
  font-size: 15px;
  min-width: 190px;
}

#cr-docs-rating #status {
  font-size: 14px;
  margin-top: 20px;
}

#cr-docs-rating button {
  margin: 0 20px 0;
  height: 25px;
  background: transparent;
  color: #00a6d1;
  font-weight: bold;
}

#cr-docs-rating button:hover {
  color: #55d4f5;
  text-decoration: none;
  cursor: pointer;
}

#cr-docs-rating input:focus,
#cr-docs-rating button:focus {
  outline: none;
}

#ratingStatus {
  font-size: 15px;
  margin: 0 20px 0 auto;
}

.rating {
  min-width: 170px;
}

#ratingVote:disabled, 
#ratingVote[disabled] {
  color: #ccc;
  display: none;
}

@media all and (max-width: 767px) {
  #ratingForm {
    flex-direction: column;
  }

  .cr-ratingtext {
    margin-top: 20px;
    margin-right: 0;
    min-width: unset;
  }


  #ratingStatus {
    margin: 10px auto 20px;
  }

  .rating {
    min-width: auto;
  }

  #cr-docs-rating button {
    margin: 0 auto 20px;
  }

  .cr-ratingtext {
    margin-bottom: 10px;
  }

  .cr-docs-feedback-meta a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 10px;
  }

}

@media all and (max-width: 540px) {

  .cr-docs-feedback-header {
    flex-direction: column;
  }

}


/* external links indicator */
#main-content .col-md-8 [href^="http"]:not([href*="https://crate.io"]):not([href*="go.cratedb.com"]):not([href*="cdn.crate.io"]):not([href*="wpengine.com"]):not([href^="#"]):not([href^="/"]):not(.image-reference):not(.cr-docs-link):not(.internal) {
  background: url(https://crate.io/wp-content/themes/crate/img/icon_link_external.svg) center left no-repeat;
  padding-left: 20px;
  margin-left: 2px;
}

/* hide menuitem in docs */
.cr-menu-hide {
  display: none !important;
}

footer .menu-Label {
  font-size: 15px;
}

footer .menu-item a,
footer .footer-list a {
  color: #000;
  padding: .5rem 0;
  display: block;
  font-size: 15px;
}

@media (min-width: 768px) {
  footer .footer-list {
    text-align: left;
  }
}

/* fallback fix when esi is not loaded */
footer .footer-listitem-new a, {
  padding: .5rem 0;
  display: block;
  font-size: 15px;
}

footer .footer-listitem-new:first-child a {
    padding-top: 0;
}


.w-cr-footer .vertical-menu li:first-child {
  margin-bottom: 0;
  font-weight: bold;
}

.w-cr-footer .vertical-menu li:first-child a:hover {
  cursor: default;
  color: #000;
  opacity: 1;
}

/* navbar */
.mobile-nav-button {
  display: none;
}

@media all and (max-width: 1024px) {

  .mobile-nav-button {
    display: block;
  }

  .cr-navtoggle {
    background-color: #000;
    width: 30px;
    height: 2px;
    display: block;
  }

  .cr-navtoggle.cr-navtoggle-mid {
    margin: 8px 0;
  }

}
