/**
* This CSS file is for additional new styles built over the existing theme
* ...so as to avoid breaking anything unexpectedly
*/

:root {
  --primary-color: #19c0ea;
  --secondary-color: #009fc7;
  --docsearch-primary-color: #009fc7 !important;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

html[data-theme="light"] {
  color-scheme: light;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/montserrat-v26-latin-600.woff2") format("woff2");
}

a.copybtn {
  width: 2em;
  height: 2em;
  top: 0.5em;
  opacity: 0.6;
  cursor: pointer;
}

/* Make copy button image display on Firefox */
button.copybtn img {
  margin: 0 !important;
}

.highlight .c1,
.highlight .go {
  color: #b7c6cd;
}

/**
* Bootstrap components (removed bootstrap)
*/
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #25c8f2;
  border-color: #0eb9e6;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #25c8f2;
  border-color: #0a87a7;
}

.col-lg-3,
.col-lg-9,
.col-md-3,
.col-md-4,
.col-md-8,
.col-md-9,
.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media all and (min-width: 992px) {
  .container {
    max-width: 970px;
  }

  .col-md-3,
  .col-md-4,
  .col-md-8,
  .col-md-9,
  .col-md-12 {
    float: left;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .col-lg-3,
  .col-lg-9 {
    float: left;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

a:hover,
a:focus {
  text-decoration: none;
}

.cr-menu-btn,
.btn,
.btn-link a {
  border-radius: 0;
  font-weight: 600;
}

.btn-md {
  font-size: 16px;
  padding: 12px 24px;
}

.btn-lg {
  padding: 16px 28px;
}

.cr-menu-btn a,
.btn-primary,
.btn-link a {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  outline: none;
  text-decoration: none;
}

.cr-menu-btn a:hover,
.btn-primary:hover,
.btn-link a:hover {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
  opacity: 1;
}

.btn-primary:active,
.btn-link a:active,
.btn-primary:focus,
.btn-link a:focus {
  background-color: #f3fdff !important;
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  outline: none !important;
}

.btn-secondary {
  border: 2px solid black;
  background-color: black;
  color: white;
  outline: none;
}

.btn-secondary:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.btn-secondary:active,
.btn-secondary:focus {
  background-color: #e7e7e7;
  color: black;
  border-color: black;
  outline: none !important;
}

header.header-nav {
  border-bottom: 1px solid var(--color-sidebar-background-border);
  z-index: 60;
  width: 100%;
  transition: all 0.3s ease;
  will-change: transform;
  right: 0;
  left: 0;
  position: relative;
}

.notif-bar-enabled #sidebar.is-affixed aside {
  margin-top: 60px !important;
}

aside .nav {
  display: block;
}

/**
* Navbar, dropdown menu
*/
.navbar.w-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .navbar {
  padding: 0;
  flex-wrap: nowrap;
}

#menu-main-navigation li > ul li.w-nav-link {
  display: block;
}

.brand.w-nav-brand {
  margin-right: auto;
}

.brand.w-nav-brand img {
  height: auto;
}

.main-nav .btn-link:hover {
  text-decoration: none;
}

.cr-menu-btn a,
.main-nav .btn-link a {
  padding: 8px 16px !important;
}

.main-nav ul.menu {
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.main-nav ul.menu > li.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}

.menu-item-has-children {
  position: relative;
}

.main-nav ul.menu > li.menu-item > a {
  padding: 15px 5px;
}

.fa.mobile-nav-button,
.fa.mobile-nav-button:focus {
  color: black;
  font-size: 24px;
}

.offcanvas-menu {
  margin-top: 46px !important;
}

body .mm-menu {
  background-color: rgba(255, 255, 255, 1);
  border-left: 2px solid var(--primary-color);
  outline: none;
}

body .mm-menu .mm-listview > li:not(.mm-divider):after {
  display: none;
}

body .mm-menu li a,
body .mm-menu li > span {
  padding: 10px;
  display: block;
  font-size: 16px;
  color: black;
}

body .mm-menu .navbar-nav {
  list-style: none;
  padding: 10px;
  margin-top: 43px;
}

@media screen and (max-width: 991px) {
  .mobileAlign {
    text-align: left;
  }

  .mobileHorizontalMenu {
    margin-top: 0;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .main-nav {
    display: none;
  }

  .brand {
    max-width: 200px;
  }

  body .fa.mobile-nav-button {
    display: block;
  }

  div.section {
    padding-left: 0;
    padding-right: 0;
  }

  body .wrapper-navleft,
  body #nav-affix {
    max-width: none;
  }

  .brand.w-nav-brand {
    padding-left: 0;
  }

  html.w-mod-touch * {
    word-break: break-word;
  }

  .wrapper-content-right {
    font-size: 14px;
  }

  kbd,
  pre,
  samp {
    font-size: 12px;
  }

  footer.footer .footer-menu {
    display: none;
  }

  footer.footer .footer-brand {
    display: none;
  }

  .footer-list li {
    display: inline !important;
  }

  .footer-listitem.link-list {
    display: block !important;
  }
}

/**
* General
*/
@media all and (max-width: 540px) {
  .bs-docs-sidenav .toctree li {
    margin-bottom: 3px;
  }
}

.wrapper-navleft,
.wrapper-content-right,
#nav-affix {
  width: 100%;
  margin: 0;
}

.wrapper-navleft,
#nav-affix {
  max-width: 260px;
}

.wrapper-navleft,
.wrapper-content-right {
  margin: 0;
}

.bs-docs-sidebar .search-link .btn {
  margin: 10px 0 15px;
  max-width: 100%;
  width: 100%;
  padding: 12px;
}

.toc-backref {
  color: var(--color-content-foreground);
  opacity: 1 !important;
}

.headerlink {
  margin-left: 0.3em;
}

table.docutils {
  margin-bottom: 16px;
}

.wrapper-content-right .section img {
  margin-bottom: 16px;
}

div.sidebar {
  border: 1px solid #e7e7e7;
  background-color: white;
}

.wrapper-content-right ul,
.wrapper-content-right ol {
  margin-bottom: 16px;
  margin-left: 16px;
}

/**
* Mobile refinements
*/
@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
}

/**
* Card
*/
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #cfd7db;
  border-top: 2px solid var(--primary-color);
  -webkit-box-shadow: 1px 1px 5px #eeeeee;
  box-shadow: 1px 1px 5px #eeeeee;
}

.card pre,
.card code {
  padding: 0.01em 0.2em;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #f0f0f0 none repeat scroll 0 0;
}

.card-block {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 2rem;
  font-size: 14px;
  line-height: 1.4;
}

.card-title {
  margin-bottom: 1rem;
  line-height: 1.2;
  font-size: 20px;
}

.card-title a {
  display: block;
}

.container .card-image {
  height: 250px;
}

.container .card-image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.card footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card footer p {
  margin-bottom: 0;
}

.card footer .btn {
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .card footer {
    flex-direction: column;
    align-items: center;
  }

  .card footer .btn {
    margin: 10px auto 0;
  }
}

.card.card-small {
  font-size: 14px;
}

.card.card-small .card-title {
  font-size: 24px;
  line-height: 1;
}

/**
* Search
*/
.form-search {
  border: 2px solid var(--primary-color);
  display: inline-flex;
  margin-bottom: 1rem;
}

.form-search .search-query {
  width: 300px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 1.5rem;
  border: 0;
  outline: none;
}

.form-search .btn {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

#search-results {
  margin-top: 2rem;
}

#search-results > ul,
ul#cr-search-results {
  list-style: none;
  padding: 0;
  margin: 0;
}

#search-results > ul li.card {
  margin-bottom: 20px;
  background: none;
  padding: 0;
}

.cr-search-url {
  margin-top: 5px;
  font-size: 0.8rem;
}

.cr-search-pagination {
  display: flex;
  margin-top: 20px;
}

.cr-search-page {
  padding-right: 10px;
}

.cr-search-current-page a {
  color: #000;
}

#cr-search-box button:disabled,
#cr-search-box button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

.DocSearch.DocSearch-Container {
  margin-top: 60px;
}

#cr-search-box button:disabled:hover,
#cr-search-box button[disabled]:hover {
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

.search-link .DocSearch-Button {
  margin: 0 0 20px;
  border-radius: 0;
  width: 100%;
}

#searchbox .ais-SearchBox-form::before {
  height: 17px;
  width: 17px;
}

@media all and (max-width: 991px) {
  .sidebar-head {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
  }
}

@media all and (max-width: 768px) {
  .search-link .DocSearch-Button-Placeholder {
    display: block;
  }
}

@media screen and (max-width: 76rem) {
  details.sd-dropdown summary.sd-summary-title,
  .DocSearch-Button-Placeholder {
    font-size: var(--font-size--small);
  }
  .form-search .search-query {
    width: 200px;
  }
}

/**
* MOBILE Nav
*/
#mobile-nav-new {
  display: none;
}

/* DESKTOP */
@media all and (min-width: 1024px) {
  .fa.mobile-nav-button,
  .fa.mobile-nav-button {
    display: none;
  }
}

#sidebar .sidebar__inner {
  position: relative;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

#sidebar {
  will-change: min-height;
}

.is-affixed .sidebar__inner {
  left: initial !important;
}

.wrapper-navleft.shownav {
  display: block !important;
}

#mobile-menu-toggler.w-button {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #fff;
}

#mobile-menu-toggler.w-button:focus {
  color: white;
}

#mobile-menu-toggler.w-button:hover,
#mobile-menu-toggler.w-button.w-active {
  color: var(--primary-color);
  opacity: 0.7;
  background-color: #fff;
  border: 2px solid var(--primary-color);
}

/* glossary links indicator */
a[href*="#gloss-"].internal {
  /* workaround as text-decoration cannot be overridden on child elements */
  border-bottom: 1px dotted;
  color: var(--color-content-foreground);
}

/* hide menuitem in docs */
.cr-menu-hide {
  display: none !important;
}

footer .menu-Label {
  font-size: 15px;
}

footer .menu-item a,
footer .footer-list a {
  color: #000;
  padding: 0.5rem 0;
  display: block;
  font-size: 15px;
}

@media (min-width: 768px) {
  footer .footer-list {
    text-align: left;
  }
}

/* fallback fix when esi is not loaded */
footer .footer-listitem-new a {
  padding: 0.5rem 0;
  display: block;
  font-size: 15px;
}

footer .footer-listitem-new:first-child a {
  padding-top: 0;
}

.w-cr-footer .vertical-menu li:first-child {
  margin-bottom: 0;
  font-weight: 600;
}

.w-cr-footer .vertical-menu li:first-child a:hover {
  cursor: default;
  color: #000;
  opacity: 1;
}

/* navbar */
.mobile-nav-button {
  display: none;
}

@media all and (max-width: 1024px) {
  .mobile-nav-button {
    display: block;
  }

  .cr-navtoggle {
    background-color: #000;
    width: 30px;
    height: 2px;
    display: block;
  }

  .cr-navtoggle.cr-navtoggle-mid {
    margin: 8px 0;
  }
}

/* HubSpot additions */
.row-fluid > .span12 {
  width: 100% !important;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  min-height: 1px;
  width: 14.89361702%;
  margin-left: 2.127659574%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.footer-widget-content h3.footer-menu-title {
  margin-bottom: 18px !important;
  color: #000;
  font-size: 14px !important;
  text-decoration: none;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
}

.footer-widget-content ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.footer-widget-content ul li {
  margin-bottom: 15px;
}

.footer-widget-content ul li a,
.footer .footer-widget-content h3,
.footer__copyright span {
  color: #000;
  font-size: 14px !important;
  text-decoration: none;
}

.footer-widget-content ul li a,
.footer .footer-widget-content h3,
.footer__copyright span {
  color: #000;
  font-size: 14px !important;
  text-decoration: none;
}

.footer-widget-content ul li a:hover {
  color: var(--primary-color);
}

.footer__social {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  right: 0;
}

.social-links {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start !important;
}

a.social-links__link {
  line-height: 1;
}

a.social-links__link:first-child .social-links__icon {
  margin-left: 0 !important;
}

.social-links__icon {
  background-color: transparent !important;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 25px;
  width: 25px;
  margin: 0 5px;
  position: relative;
}

.social-links__icon {
  margin: 0 4px !important;
}

.social-links__icon svg {
  fill: var(--color-content-foreground) !important;
  height: 20px !important;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
}

.esi-mobile {
  display: none;
}

@media (min-width: 768px) and (max-width: 1139px) {
  .row-fluid .span2 {
    width: 14.364640883%;
  }
}

@media (min-width: 1280px) {
  .row-fluid .span2 {
    width: 14.529914530000001%;
  }
}

@media (max-width: 767px) {
  .footer-widget {
    display: none;
  }
  .esi-mobile {
    display: block;
  }
}

/* bold overrides */
p.rubric {
  font-weight: 600;
}

b,
strong {
  font-weight: 600;
}

/* notification bar */
.notification-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
  text-align: center;
}

#hs_cos_wrapper_Header_Notif_Bar {
  position: relative;
  display: none;
}

.notif-bar-enabled #hs_cos_wrapper_Header_Notif_Bar {
  display: block;
  width: 100%;
}

.notification-banner {
  font-size: 0;
  text-align: center;
  background-color: var(--primary-color);
  color: #ffffff;
}

.sb-announcement .notification-banner.new {
  position: relative;
  padding: 8px 0;
}

.notification-banner.new .page-center {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.notification-banner p {
  color: #ffffff;
  margin: 0;
  margin-bottom: 0 !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  display: inline-block;
  padding: 5px 0;
  vertical-align: middle;
}

.notification-banner__button {
  color: #ffffff;
  background-color: #005980;
  padding: 7px 10px;
  font-size: 16px;
  text-transform: unset;
  font-weight: 400;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: 0.2s;
  overflow: hidden;
  display: inline-block;
  margin-left: 15px;
  border: 2px solid #005980;
}

.fas.fa-times {
  font-size: 15px;
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  transform: translateY(-50%);
}

#notif-close {
  color: #000;
  display: block;
  width: 50px;
}

#hs_cos_wrapper_Header_Notif_Bar .row-fluid {
  width: 100%;
}

#hs_cos_wrapper_Header_Notif_Bar .row-fluid::before,
#hs_cos_wrapper_Header_Notif_Bar .row-fluid::after {
  display: table;
  content: "";
}

@media all and (max-width: 991px) {
  .notif-bar-enabled header.header-nav {
    margin-top: 0 !important;
  }

  #hs_cos_wrapper_Header_Notif_Bar .notification-banner {
    width: 100%;
    position: fixed;
    top: unset;
    bottom: 0;
  }

  .notif-bar-enabled {
    margin-bottom: 180px;
  }

  .notification-banner.new {
    top: unset;
    bottom: 0;
  }

  .notification-banner p {
    padding-right: 30px;
  }

  .wy-table-responsive {
    overflow-x: auto;
  }
}

/* newsletter footer */
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.footer-subscription {
  background-color: var(--color-sidebar-background);
  padding: 30px 20px;
}

.footer-subscription h4 {
  font-size: 20px;
  line-height: 1.4;
  display: block;
  width: 100%;
  margin: 0;
}

.footer-subscription .hs-error-msgs {
  padding: 0;
}

.footer-subscription .hs-error-msgs li {
  background: #ebebeb;
  border: 1px solid #f00;
  padding: 3px 3px 3px 10px;
  width: 100%;
}

.footer-subscription .hs-error-msg {
  color: #ef6b51;
  margin-top: 0.35rem;
  display: block;
  font-size: 0.8rem;
  padding-top: 0;
  margin-bottom: 0.35rem;
  text-align: left;
  width: auto;
  font-weight: normal;
}

.hs-input.invalid.error {
  border-color: #ef6b51;
}

.footer-subscription p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
}

.footer-subs-form form {
  display: flex;
  align-content: center;
  grid-gap: 15px;
}

.footer-subs-form form input[type="email"] {
  border-radius: 4px;
  box-shadow: inset 1px 1px 4px 1px #ddd;
  padding: 12px 10px;
  font-size: 16px;
}

.footer-subs-form form input[type="submit"] {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 21px;
  border-radius: 0;
  margin-top: 8px;
}

input[type="email"] {
  background-color: #fff;
  border: 1px solid #d1d6dc;
  color: #33475b;
  display: inline-block;
  width: 100%;
}

.hs-button {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #fff;
  font-size: 16px;
}

.hs-button:hover {
  background-color: #fff;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.footer-subs-form form .hs_email {
  width: 70%;
  margin-bottom: 0;
}

.footer-subs-form form .hs_submit {
  width: 30%;
}

ul.search li {
  padding: 5px;
  background-image: none;
}

.hs_error_rollup {
  display: none;
}

.no-list.hs-error-msgs {
  list-style-type: none;
  padding: 0;
}

@media all and (max-width: 991px) {
  .footer-subs-form form {
    flex-direction: column;
  }

  .footer-subs-form form .hs_submit {
    width: auto;
  }
}

@media all and (max-width: 768px) {
  .footer-subscription h4 {
    text-align: center;
    margin-bottom: 15px;
  }

  .footer-subscription p {
    margin-top: 15px;
    text-align: center;
  }

  .hs-error-msg {
    text-align: center;
  }

  .footer-subs-form form {
    align-items: center;
  }
}

/* SQL-99 */
.cr-docs-sql-99 #mobile-menu-toggler.w-button,
.cr-docs-sql-99 .btn-primary,
.cr-docs-sql-99 .btn-link a,
.cr-docs-sql-99 .hs-button {
  background-color: #ed8826;
  border: 2px solid #ed8826;
  color: #fff;
}

.cr-docs-sql-99 .form-search {
  border: 2px solid #ed8826;
}

.cr-docs-sql-99 .form-search .btn {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

.cr-docs-sql-99 .btn-primary.btn-cr-sql-99 {
  background-color: #fff;
  border: 2px solid #fff;
  color: var(--primary-color);
  font-size: 18px;
}

.cr-docs-sql-99 .btn-primary:active,
.cr-docs-sql-99 .btn-primary:focus {
  background-color: #fffdf7 !important;
  color: #ed8826 !important;
  border-color: #ed8826 !important;
  outline: none !important;
}

.cr-docs-sql-99 #mobile-menu-toggler.w-button:hover,
.cr-docs-sql-99 .btn-primary:hover,
.cr-docs-sql-99 .btn-link a:hover,
.cr-docs-sql-99 .hs-button:hover {
  color: #ed8826;
  background-color: white;
  border-color: #ed8826;
}

.cr-docs-sql-99 .btn-primary.btn-cr-sql-99:hover {
  color: #fff;
  background-color: var(--primary-color);
  border-color: #fff;
}

.cr-docs-sql-99 .wrapper-content-right a,
.cr-docs-sql-99 .footer-subscription a {
  color: #ed8826;
}

.cr-sql-99-header {
  display: flex;
}

.cr-sql-99-headline p {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  max-width: 355px;
  margin-bottom: 0;
}

.cr-sql-99-headline {
  display: flex;
  align-items: center;
  padding: 30px;
}

.cr-sql-99-logo {
  margin: 10px 20px;
}

.cr-sql-99-bg-color {
  background-color: var(--primary-color);
  margin-bottom: 32px !important;
}

.cr-sql-99-cta {
  background: url("../images/bg-banner-sql99.png") no-repeat;
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-size: cover;
  min-width: 275px;
}

.cr-sql-99-cta a {
  color: #fff;
  font-size: 16px;
  display: block;
}

.cr-sql-99-cta a.cta_bottom {
  margin-top: 10px;
}

.cr-sql-99-cta p,
.btn-cr-sql-99 {
  z-index: 2;
}

@media all and (max-width: 992px) {
  .cr-sql-99-headline {
    align-items: flex-start;
    flex-direction: column;
  }

  .cr-sql-99-logo {
    margin: 20px 20px 10px 0;
  }
}

@media all and (max-width: 540px) {
  .cr-sql-99-header {
    display: flex;
    flex-direction: column;
  }

  .cr-sql-99-cta {
    min-height: 120px;
  }

  .cr-sql-99-headline {
    padding: 20px;
  }

  .cr-sql-99-logo {
    margin: 20px 20px 0px 0;
  }
}

.cr-docs-footer-menu ul li {
  display: inline-block;
  margin: 0 10px;
}

.cr-docs-footer-menu ul li a {
  font-size: 14px;
  color: var(--color-sidebar-link-text);
}

.cr-docs-footer-menu {
  text-align: center;
  margin-top: 6px;
}

.cr-docs-align-right {
  text-align: right;
}

.cr-docs-footer-social {
  display: inline-block;
  position: relative;
  padding-top: 6px;
}

.social-label {
  font-size: 14px;
  font-weight: 400;
  left: 0;
  top: 8px;
  line-height: 1.5;
  display: inline-block;
  position: absolute;
}

.cr-docs-footer-social .cr-docs-social-icons {
  padding-left: 90px;
}

/* external links indicator sql-99 */
.cr-docs-sql-99 #main-content .col-md-8 [href^="http"]:not([href*="https://cratedb.com"]):not([href*="https://crate.io"]):not([href*="go.cratedb.com"]):not([href*="cdn.crate.io"]):not([href*="wpengine.com"]):not([href^="#"]):not([href^="/"]):not(.image-reference):not(.cr-docs-link):not(.internal)
{
  background: url(../images/icon_link_external-sql-99.svg) center left no-repeat;
  padding-left: 20px;
  margin-left: 2px;
}

@media all and (max-width: 992px) {
  .text-md-center {
    text-align: center;
    margin-bottom: 25px;
  }
}

/* Hide RTD-injected elements: Ads, fly-out, and footer. */
#readthedocs-ea,
readthedocs-flyout,
.injected {
  display: none !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

/* field-list fix */
dl.field-list > dt {
  word-break: normal !important;
}

/* override the ToC error message */
.contents:not(
    .this-will-duplicate-information-and-it-is-still-useful-here
  )::before {
  content: "";
  display: none;
}

.contents:not(.this-will-duplicate-information-and-it-is-still-useful-here) {
  background: transparent;
  color: var(--color-content-foreground);
}

/* hide/show headerlinks */
a.headerlink {
  visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
  visibility: visible;
}

article {
  line-height: 1.5;
}

/* migrate field-list styling */
dl.footnote > dt,
dl.citation > dt {
  float: left;
  margin-right: 0.5em;
}

dl.footnote > dd,
dl.citation > dd {
  margin-bottom: 0em;
}

dl.footnote > dd:after,
dl.citation > dd:after {
  content: "";
  clear: both;
}

dl.field-list {
  display: grid;
  grid-template-columns: fit-content(30%) auto;
}

dl.field-list > dt {
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 5px;
}

dl.field-list > dd {
  padding-left: 0.5em;
  margin-top: 0em;
  margin-left: 0em;
  margin-bottom: 0em;
}

dl {
  margin-bottom: 15px;
}

dd > :first-child {
  margin-top: 0px;
}

dd ul,
dd table {
  margin-bottom: 10px;
}

dd {
  margin-top: 3px;
  margin-bottom: 10px;
  margin-left: 30px;
}

dl > dd:last-child,
dl > dd:last-child > :last-child {
  margin-bottom: 0;
}

dt:target,
span.highlighted {
  background-color: #fbe54e;
}

/* fix ul in header nav */
header#top #menu-main-navigation {
  margin: 0;
  list-style-type: none;
}

/* -- tables ---------------------------------------------------------------- */

table.docutils {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-collapse: collapse;
}

table.align-center {
  margin-left: auto;
  margin-right: auto;
}

table.align-default {
  margin-left: auto;
  margin-right: auto;
}

table caption span.caption-number {
  font-style: italic;
}

table.docutils td,
table.docutils th {
  padding: 1px 8px 1px 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #aaa;
}

th {
  text-align: left;
  padding-right: 5px;
}

table.citation {
  border-left: solid 1px gray;
  margin-left: 1px;
}

table.citation td {
  border-bottom: none;
}

th > :first-child,
td > :first-child {
  margin-top: 0px;
}

th > :last-child,
td > :last-child {
  margin-bottom: 0px;
}

/* Main menu styling */
#menu-main-navigation {
  list-style: none;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-sidebar-background);
  padding: 10px;
  margin: 0;
  border: 1px solid var(--color-sidebar-background-border);
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-item:hover > .sub-menu {
  display: block;
}

#menu-main-navigation
  > .menu-item:first-child
  > .sub-menu
  > .menu-item-has-children
  > .sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}

#menu-main-navigation
  > .menu-item:first-child
  > .sub-menu
  > .menu-item-has-children:hover
  > .sub-menu {
  display: block;
}

.menu-item-has-children .sub-menu {
  top: 100%;
  left: 0;
  position: absolute;
  display: none;
}

.menu-item-has-children:hover > .sub-menu {
  display: block;
}

.sub-menu li {
  width: 220px;
}

.sub-menu a {
  padding: 8px 8px;
  display: block;
}

.theme-toggle {
  margin-left: 6px;
}

/* mermaid color fix */
.mermaid .messageText {
  fill: var(--color-content-foreground) !important;
}

.mermaid .flowchart-link {
  stroke: var(--color-content-foreground) !important;
}

/* adjust font-size and padding of feedback toggler */
details.sd-dropdown summary.sd-summary-title {
  font-size: 14px;
  padding: 0.5em 0.4em !important;
}

/* remove border from mobile nav */
.mobile-header {
  border-bottom: none !important;
}

/* togglebutton text */
@media all and (min-width: 768px) {
  button.toggle-button.toggle-button-hidden::before {
    color: var(--color-content-foreground) !important;
  }
}

.toggle svg.toggle-chevron-right polyline {
  stroke: var(--color-content-foreground) !important;
}

/* sd color override */
.sd-tab-set > input:checked + label {
  border-color: var(--color-link) !important;
  color: var(--color-link) !important;
}

html .sd-tab-set > label:hover {
  color: var(--color-link) !important;
}

/* tables on mobile */
@media (max-width: 768px) {
  #main-content section table {
    max-width: 100vw;
    overflow-y: scroll;
    display: block;
  }
}

/* algolia */
#hits .ais-Hits-item {
  background: var(--color-background-primary);
  box-shadow: 0 0 0 1px var(--color-sidebar-background-border);
}

#searchbox .ais-SearchBox-input {
  background-color: var(--docsearch-searchbox-background);
  color: var(--docsearch-muted-color);
}

#pagination .ais-Pagination-link {
  background-color: var(--color-background-primary);
  background-image: none;
  color: var(--color-foreground-primary);
}

.DocSearch-SearchBar :focus-visible {
  outline: none;
}

@media (max-width: 768px) {
  #menu-main-navigation {
    display: none;
  }

  .ais-InstantSearch #pagination {
    overflow-y: scroll;
  }
}

@media all and (max-width: 540px) {
  .notif-bar-enabled {
    margin-bottom: 180px;
  }

  dl.field-list {
    grid-template-columns: none;
    max-width: 100vw;
    overflow-y: scroll;
  }

  dl.field-list > dt {
    margin: 10px 0 5px;
  }

  #main-content section iframe {
    max-width: 100%;
  }
}

/*
Fix dark mode for tables in Jupyter Notebooks rendered by MyST-NB.
https://github.com/crate/crate-docs-theme/pull/566
*/
div.cell_output table {
  color: var(--color-content-foreground);
}
div.cell_output tbody tr:nth-child(odd) {
  background: var(--color-background-hover);
}

div.cell_output tbody tr:nth-child(odd):hover,
div.cell_output tbody tr:nth-child(even):hover {
  background: rgba(66, 165, 245, 0.2);
}
