@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700);

@font-face {
  font-family: SourceCodePro;
  src: url('../fonts/SourceCodePro/SourceCodePro-Light.eot');
  src: url('../fonts/SourceCodePro/SourceCodePro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro/SourceCodePro-Light.otf.woff') format('woff');
}

@font-face {
  font-family: SourceCodePro;
  font-weight: bold;
  src: url('../fonts/SourceCodePro/SourceCodePro-Regular.eot');
  src: url('../fonts/SourceCodePro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro/SourceCodePro-Regular.otf.woff') format('woff');
}

/* General */

body {
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #7a7a7a;
  background-color: #ffffff;
}

/* Layout Elements */

.container {
  margin-left: 0;
  transition: width 0.5s;
}

#page-wrap {
  min-height: 100%;
}

#content-wrap {
  padding-top: 1px;
  background-color: #fcfcfc;
}

#sidebar-column {
  top: 0;
  left: 0;
  height: 100%;
  padding: 17px 0 0 0;
  background-color: #D4D8DB;
  transition: width 0.5s;
}

#content-column {
  transition: width 0.5s;
}

#content-column .section {
  margin: 20px 0 40px;
}

/*
li.toctree-l1{
  margin: 4px 0 !important;
}
li.toctree-l2{
  margin: 4px 0 !important;
}
li.toctree-l3{
  margin: 4px 0 !important;
}
*/

/* Headlines */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #ff9000;
}

h1,
.h1 {
  font-size: 2em;
  font-weight: normal;
}

h2,
.h2 {
  font-size: 1.8em;
  font-weight: normal;
}

h3,
.h3 {
  font-size: 1.6em;
  font-weight: normal;
}

h4,
.h4 {
  font-size: 1.2em;
}

/* Links */

a,
a:visited {
  color: #333333;
}

a:hover,
a:active {
  color: #7a7a7a;
}

a.headerlink {
  font-weight: normal;
  color: #e8e8e8;
}

a.headerlink:hover {
  color: #333333;
}

a#crate-logo {
  display: inline-block;
  width: 101px;
  height: 30px;
  margin: 11px 0 0;
  background: url("../img/logo-101x30.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

a#crate-logo span {
  display: none;
}

a#crate-logo:hover {
  background: url("../img/logo-101x30.png") no-repeat scroll 0 -30px rgba(0, 0, 0, 0);
}

/* Code Style */

code,
kbd,
pre,
samp,
.pre {
  font-family: SourceCodePro, Menlo, Monaco, Consolas, "Courier New", monospace;
  word-break: normal;
  word-wrap: normal;
}

pre {
  display: block;
  color: inherit;
  background: transparent none;
  border: 0 none;
  border-radius: 0;
}

.pre {
  font-size: 13px;
  font-weight: bold;
  color: #333333;
}

footer {
  position: relative;
  bottom: 0;
  padding: 20px 20px 10px;
  margin: 40px -15px 0;
  line-height: 100%;
  color: #7a7a7a;
  border-top: 1px solid #7a7a7a;
}

/* Notes */

.todo,
.seealso,
.note,
.warning {
  margin: 0 0 20px;
  color: #000000;
}

.todo ul,
.seealso ul,
.note ul,
.warning ul,
.todo ol,
.seealso ol,
.note ol,
.warning ol {
  padding: 10px 20px 10px 40px;
}

.todo p,
.seealso p,
.note p,
.warning p {
  padding: 10px 20px;
  margin: 0;
}

.todo .admonition-title,
.seealso .admonition-title,
.note .admonition-title,
.warning .admonition-title {
  padding: 5px 20px;
  font-weight: bold;
  color: #000000;
}

.note {
  background-color: #FFD6A1;
}

.note .admonition-title {
  background-color: #ff9000;
}

.warning {
  background-color: #E6AEAE;
}

.warning .admonition-title {
  background-color: #E66363;
}

.todo {
  background-color: #FBD0D3;
}

.todo .admonition-title {
  background-color: #EA6573;
}

.seealso {
  background-color: #D4E3E9;
}

.seealso .admonition-title {
  background-color: #84A8B7;
}

/* Search highlight */

ul.search {
  padding: 0;
  list-style-type: none;
}

ul.search li {
  margin: 20px 0;
}

ul.search li a {
  font-size: 22px;
  font-weight: bold;
}

span.highlighted {
  padding: 0 2px;
  color: #000;
  background-color: #ffcf3e;
}

/* Top Navigation */

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background: #263E4D;
  border-color: #6d6d6d;
}

.navbar-inverse li a {
  color: #ffffff;
  text-transform: uppercase;
}

.navbar-inverse li a:hover {
  color: #e8e8e8;
}

.navbar-inverse .dropdown-menu a {
  color: #7a7a7a;
}

.navbar-inverse .dropdown-menu a:hover {
  color: #333333;
}

/* Tables, Definitions, ... */

.table {
  background-color: #fff;
  border: 0 none;
  border-collapse: collapse !important;
}

.table .literal .pre {
  white-space: nowrap;
}

.table > thead > tr > th {
  white-space: nowrap;
}

dl.docutils {
  padding: 0 20px;
}

dl.docutils dd {
  padding: 0 0 0 10px;
}

blockquote {
  font-size: inherit;
  border: 0 none;
}

/* Search Box */

#navbar-search-input {
  width: 158px;
  margin-right: -4px;
  border-right: 0 none;
  border-radius: 4px 0 0 4px;
  transition: width 0.5s;
}

#navbar-search-submit {
  border-left: 0 none;
  border-radius: 0 4px 4px 0;
}

/* Responsive Elements */

@media (max-width: 992px) {
  #sidebar-column {
    padding-top: 0;
  }
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #sidebar-column {
    top: 0;
    overflow-y: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/* TOC Tree */

#sidebar-column li > a {
  padding: 0 0 0 10px;
  color: #7a7a7a;
  text-decoration: none;
  text-shadow: none;
}

#sidebar-column li.toctree-l1 a {
  padding-left: 20px !important;
}

#sidebar-column li.toctree-l2 a {
  padding-left: 35px !important;
}

#sidebar-column li.toctree-l3 a {
  padding-left: 50px !important;
}

#sidebar-column .toctree {
  padding: 10px 0;
}

#sidebar-column .toctree li a {
  color: #333333;
  text-decoration: none;
}

#sidebar-column .toctree li.current > a,
#sidebar-column .toctree li.active > a {
  font-weight: bold;
}

#sidebar-column .toctree li.current > a {
  color: #333333;
  background-color: transparent;
}

#sidebar-column .toctree li > a:hover {
  color: #333333;
  background-color: transparent;
}

#sidebar-column .toctree li.current > a,
#sidebar-column .toctree li:focus > a,
#sidebar-column .toctree li:hover > a,
#sidebar-column .toctree li:active > a {
  font-weight: bold;
  background-color: transparent;
}

#sidebar-column .toctree ul ul {
  display: none;
}

#sidebar-column .toctree ul li.active ul {
  display: block;
}

#sidebar-column .toctree ul ul ul {
  display: none !important;
}

#sidebar-column .toctree li.current > ul,
#sidebar-column .toctree ul ul li.active ul {
  display: block !important;
}

/* ------------------------------------- */

/* ------------   Redesign ------------- */

/* ------------------------------------- */

/* Blender font */

@font-face {
  font-family: BlenderPro;
  font-weight: normal;
  src: url('../fonts/BlenderPro/BlenderPro-ThinWeb.eot');
  src: url('../fonts/BlenderPro/BlenderPro-ThinWeb.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro/BlenderPro-ThinWeb.woff') format('woff'), url('../fonts/BlenderPro/BlenderPro-Thin.ttf') format('truetype');
}

@font-face {
  font-family: BlenderPro;
  font-weight: bold;
  src: url('../fonts/BlenderPro/BlenderPro-BoldWeb.eot');
  src: url('../fonts/BlenderPro/BlenderPro-BoldWeb.eot?#iefix') format('embedded-opentype'), url('../fonts/BlenderPro/BlenderPro-BoldWeb.woff') format('woff'), url('../fonts/BlenderPro/BlenderPro-Bold.ttf') format('truetype');
}

.blender {
  font-family: BlenderPro;
}

/* General */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

a,
a:visited {
  color: #30a6c5;
}

a:hover,
a:focus {
  color: #30a6c5;
  text-decoration: none;
  opacity: 0.7;
}

a.headerlink {
  font-weight: normal;
  color: #e8e8e8;
}

#sidebar-column li.toctree-l1,
#sidebar-column li.toctree-l2,
#sidebar-column li.toctree-l3 {
  margin: 10px 0;
}

#sidebar-column .toctree li > a:hover {
  color: #333333;
  background-color: transparent;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5 {
  color: black;
}

#sidebar-column ul {
  list-style-type: none;
}

h1 {
  padding-bottom: 32px;
  font-family: Blenderpro, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 16px;
  font-family: Blenderpro, sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 32px;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

/* Notes & Warnings */

.todo .admonition-title,
.seealso .admonition-title,
.note .admonition-title,
.warning .admonition-title {
  padding: 10px 20px;
  font-weight: bold;
  color: #000000;
}

.warning {
  background-color: #ffcdc9;
  border-left: 5px solid #ff5b4d;
}

.note {
  background-color: #ccf2fc;
  border-left: 5px solid #55d4f5;
}

.seealso,
.todo {
  background-color: #e7e7e7;
  border-left: 5px solid #888888;
}

.note .admonition-title {
  padding-bottom: 0;
  background-color: #ccf2fc;
}

.warning .admonition-title {
  padding-bottom: 0;
  background-color: #ffcdc9;
}

.seealso .admonition-title,
.todo .admonition-title {
  padding-bottom: 0;
  background-color: #e7e7e7;
}

/* Navbar */

a#crate-logo {
  display: inline-block;
  width: 165px;
  height: 36px;
  margin: 11px 0 0;
  background: url("../img/logo_2x.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-size: 165px 36px;
}

a#crate-logo:hover {
  background: url("../img/logo_2x.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-size: 165px 36px;
}

.navbar-inverse {
  background: #ffffff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#navbar-search-input {
  width: 158px;
  margin-right: -4px;
  border-right: 0 none;
  border-radius: 0;
  transition: width 0.5s;
}

#navbar-search-submit {
  background-image: none;
  border-left: 1px solid #CCC;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#navbar .container {
  padding-top: 10px;
  padding-bottom: 16px;
}

/* Wrapper */

.container {
  margin-left: auto;
}

#content-wrap {
  background-color: #FFFFFF;
}

#sidebar-column {
  top: 0;
  left: initial;
  height: 100%;
  background-color: #ffffff;
  transition: width 0.5s;
}

@media (max-width: 992px) {
  #sidebar-column {
    padding-top: 0;
  }
}

@media (min-width: 992px) {
  #sidebar-column {
    top: 0;
    overflow-y: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
    padding-right: 64px;
    padding-left: 64px;
  }
  #page-wrap > .container {
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
  }
}

/* Spanky fixes */

.navbar-inverse li a {
  text-transform: none;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.02em;
}

a#crate-logo {
  margin-left: 16px;
}

.navbar-form {
  margin-right: 16px;
}

#navbar-search-input {
  width: 170px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #777777;
  background-color: transparent;
}

.navbar-subnav.navbar-nav > li > a:hover,
.navbar-subnav.navbar-nav > li > a:focus {
  color: #000;
  background-color: transparent;
  opacity: 0.5;
}

.footer .container {
  padding-top: 32px;
  border-top: 1px solid #e7e7e7;
}

.footer {
  position: relative;
  z-index: 0;
  padding-bottom: 32px;
  font-size: 16px;
  color: #000;
}

.footer h4 {
  font-size: 16px;
}

.footer a {
  color: #000;
}

#navbar .subnav {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #55d4f5;
}

.navbar-subnav > li {
  margin-right: 10px;
}

.navbar-nav > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size-adjust: none;
  font-stretch: normal;
  font-synthesis: weight style;
  font-variant: normal;
}

.fa-github::before {
  content: "ï‚›";
}

html body div#page-wrap div#navbar.navbar.navbar-inverse.navbar-default div.container nav.collapse.navbar-collapse.nav-collapse ul.nav.navbar-nav.navbar-right li {
  padding-top: 9px;
}

.footer .table > tbody > tr > td {
  padding: 7px;
}