/**
 * A few adjustments to Furo's styles.
 *
 * Either they need fixes, or the adjustments are needed because of side
 * effects coming from the other styles of the theme, which is more probable.
 *
 * TODO: Progressively get rid of all legacy styles.
**/

// Import Furo's variables.
@import "../../vendor/furo/styles/variables/layout";


// Sidebar: When primary sidebar is not collapsed, show its
// content above all others.
@media (max-width: $full-width - $sidebar-width) {
  .sb-sidebar-primary {
    z-index: 50;
  }
}


// Sidebar: Unset `position: fixed`, otherwise content
// will not be visible on drawers when not collapsed.

@media (max-width: $full-width - $sidebar-width) {
  // Collapse "navigation".
  .sidebar-drawer {
    position: unset;
  }
}

@media (max-width: $full-width) {
  // Collapse "toc" into the icon.
  .toc-drawer {
    position: unset;
  }
}
