/**
 * A few adjustments to Furo's styles.
 *
 * Either they need fixes, or the adjustments are needed because of side
 * effects coming from the other styles of the theme, which is more probable.
 *
 * TODO: Progressively get rid of all legacy styles.
**/

// Import Furo's variables.
@import "../../vendor/furo/styles/variables/layout";

// Import Furo's components.
@import "../../vendor/furo/styles/components/footer";

// Sidebar: When primary sidebar is not collapsed, show its
// content above all others.
@media (max-width: $full-width - $sidebar-width) {
  .sb-sidebar-primary {
    z-index: 50;
  }
}

// Sidebar: Unset `position: fixed`, otherwise content
// will not be visible on drawers when not collapsed.

@media (max-width: $full-width - $sidebar-width) {
  // Collapse "navigation".
  .sidebar-drawer {
    position: unset;
  }
}

@media (max-width: $full-width) {
  // Collapse "toc" into the icon.
  .toc-drawer {
    position: unset;
  }
}

// Migrate new converted ul/ol styles from _lists.sass
ul,
ol {
  padding-left: 1.2rem;

  // Space lists out like paragraphs
  margin-top: 1rem;
  margin-bottom: 1rem;
  // reduce margins within li.
  li {
    > p:first-child {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    > p:last-child {
      margin-top: 0.25rem;
    }
    > ul,
    > ol {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}
ol {
  &.arabic {
    list-style: decimal;
  }
  &.loweralpha {
    list-style: lower-alpha;
  }
  &.upperalpha {
    list-style: upper-alpha;
  }
  &.lowerroman {
    list-style: lower-roman;
  }
  &.upperroman {
    list-style: upper-roman;
  }
  // Don't space lists out when they're "simple" or in a `.. toctree::`
}
.simple,
.toctree-wrapper {
  li {
    > ul,
    > ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

//remove spacing when ul before p
article p + ul,
article p + ol {
  margin-top: 0;
}

article p:has(+ ul),
article p:has(+ ol) {
  margin-bottom: 4px;
}
