/**
 *  Custom settings to adjust the style.
**/

// Adjust secondary sidebar / right navigation.
// Larger font sizes than Furo.
@mixin settings {
  // Table of Contents
  --toc-font-size: var(--font-size--small);
  --toc-font-size--mobile: var(--font-size--normal);
  --toc-title-font-size: var(--font-size--small--2);
}

// Define size of the icons used for expanding/collapsing sidebar drawers.
$sidebar-drawer-icon-size: 1.75em;
$pagetools-text-color: #222222;


// Apply defined settings to body element.
body {
  @include settings;
}

@media all and (max-width: 540px) {

  /* Change body size so everything gets smaller on mobile */
  body {
    font-size: 15px;
  }
}
