{#
  This is where user-provided CSS variables get converted into actual values.
#}
{% macro declare_css_variables(user_customisations, pygments_theme) -%}
  --color-code-background: {{ pygments_theme.background }};
  --color-code-foreground: {{ pygments_theme.foreground }};
  {% if user_customisations -%}
  {% for name, value in user_customisations.items() -%}
    --{{ name }}: {{ value }};
  {% endfor %}
  {%- endif %}
{%- endmacro %}

<style>
  html {
    --color-code-background: #f8f8f8;
    --color-code-foreground: black;
  }

  @media not print {
    html[data-theme="dark"] {
      --color-code-background: #202020;
      --color-code-foreground: #d0d0d0;
    }
    @media (prefers-color-scheme: dark) {
      html:not([data-theme="light"]) {
        --color-code-background: #202020;
        --color-code-foreground: #d0d0d0;
      }
    }
  }

</style>