name: docs
on:
  pull_request: ~
  push:
    branches:
      - master

jobs:

  documentation:

    name: Build docs on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install PlantUML on Linux
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install plantuml

      - name: Install PlantUML on macOS
        if: matrix.os == 'macos-latest'
        run: brew install plantuml

      - name: Build docs
        run: |
          cd docs && make check
